page-company-project-search-result {
    ion-buttons[start] {
        order: 1;
    }

    ion-content {
        background-color: rgba(38,38,38,0.2) !important;
    }
    // .scroll-content {
    //     margin-top: 0 !important;
    // }

    .toolbar-ios {
        padding-top: calc(20px + 4px);
        min-height: calc(44px + 20px);
    }

    ion-header {
        border-bottom: 1px solid #f0f0f0;
    }

    ion-header,
    .search-wrapper {
        position: relative;
        background-color: #fff;
    }

    .active-button-wrapper .bar-buttons {
        padding-left: 16px;
    }

    .button-md {
        overflow: initial;
    }

    .search-result-content {
        height: 100%;
        background-color: #fff;
    }

    .search-result-content-wrapper {
        background-color: #F0F0F0;
        height: 100%;
    }

    .outer-content {
        height: fit-content;
        background-color: #F0F0F0;
        padding-top: 20px;
    }

    .outer-content .card {
        margin-top: 0;
    }

    .inactive-all {
        color: #d3d3d3 !important;
        font-weight: bold !important;
    }

    .inactive-all.activated {
        color: #ff6400 !important;
    }

    .empty-search-result {
        text-align: center;
        padding-top: 40px;
        color: #d3d3d3;
    }

    .empty-search-result ion-icon {
        font-size: 9em;
    }

    .empty-search-result div {
        margin-top: 16px;
        font-size: 1.2em;
    }
}
