<!--
  Generated template for the UserProjectFeedbackWritingEditorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="editor-modal" #contentRef (ionScroll)="scrollingEvent($event)" (panEnd)='panEnd()'>
  <ion-header class="editor-header">
    <ion-navbar>
      <ion-buttons start>
        <button class="dismiss-button" ion-button (click)="dismiss()" icon-only>
          취소
        </button>
      </ion-buttons>
      <ion-title>피드백 작성</ion-title>
      <ion-buttons end>
        <button [disabled]="minTextLength > (feedbackContent | textcount) || 1 > feedbackHashtags.length" class="complete-button" ion-button (click)="completeEditor()" icon-only>
          완료
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <div class="hashtags-chooser-wrapper inactive-button-wrapper">
    <ion-buttons>
      <button *ngIf="projectHashtags.length == 0 && isActiveNewHashtag" ion-button clear class="inactive-button">모든 해시태그를 선택하셨습니다.</button>
      <button *ngFor="let projectHashtag of projectHashtags" ion-button clear class="inactive-button" (click)="activeHashtag(projectHashtag)">
        #{{projectHashtag}}
      </button>
    </ion-buttons>
  </div>
  <div class="outer-content editor-content" style="height: 100%">
    <div class="hashtags-chooser-wrapper active-button-wrapper">
      <ion-buttons>
        <button clear *ngIf="feedbackHashtags.length == 0" ion-button class="inactive-button">[필수!] 해시태그를 등록해주세요.</button>
        <button clear color="light" *ngFor="let feedbackHashtag of feedbackHashtags" ion-button class="active-button" (click)="inactiveHashtag(feedbackHashtag)">
          #{{feedbackHashtag}} <ion-icon name="ios-close"></ion-icon>
        </button>
      </ion-buttons>
    </div>
    <textarea class="margin-top0 height30" [(ngModel)]="feedbackContent" [placeholder]="contentPlaceholder"></textarea>
    <div class="content-length-wrapper" [ngStyle]="{'color': minTextLength > (feedbackContent | textcount)? '#787878' : '#2C908F'}">
      <span>{{feedbackContent | textcount}}</span> / <span>{{minTextLength}}</span>
    </div>

    <div class="feedback-images small-feedback-images">
      <span class="add-image-button-box image-box">
        <span class="feedback-image-wrapper add-image-button" tappable (click)="addImage()">
          <ion-icon name="md-add"></ion-icon>
        </span>
      </span>
      <span class="image-box" *ngFor="let feedbackImage of feedbackImages; let i = index">
        <button class="delete-image-button" ion-button clear (click)="deleteImage(i)"><img src="assets/img/delete-button.png" /></button>
        <span class="feedback-image-wrapper cropper">
          <img class="feedback-image" [src]="sanitize(feedbackImage.img)" />
        </span>
      </span>
    </div>
  </div>
</ion-content>
