page-user-registration-form {
    h6 {
        margin-top: 1rem;
        margin-bottom: 2rem;
        color: #A2A3A3;
    }

    .button-kakao,
    .button-facebook {
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        padding: 11px;
    }

    .button-kakao img,
    .button-facebook img {
        width: 100%;
    }

    .button-registration {
        background-color: #FE6B01;
    }

    .button-registration.activated {
        background-color: #FE6B01;
    }

    .button-kakao {
        background-color: #FCE500;
    }

    .button-kakao.activated {
        background-color: #FCE500;
    }

    .button-facebook {
        background-color: #39579A;
    }

    .button-facebook.activated {
        background-color: #39579A;
    }

    // ion-item > input input 활성화되었을때
    .underline-input .item-md.item-input.item-input-has-focus .input,
    .underline-input .item-md.item-input.input-has-focus .input,
    .underline-input .item-ios.item-input.item-input-has-focus .input,
    .underline-input .item-ios.item-input.input-has-focus .input {
        border-bottom: 1px solid #FE6B01;
    }
}

.agree-checkbox .checkbox-ios .checkbox-icon,
.agree-checkbox .checkbox-md .checkbox-icon {
    border-width: 1px;
    border-style: solid;
    border-color: #FE6B01;
    width: 18px;
    height: 18px;
}
.agree-checkbox .checkbox-ios .checkbox-checked,
.agree-checkbox .checkbox-md .checkbox-checked {
    background-color: #FE6B01;
}

.agree-checkbox .relative-span {
    font-size: 1rem;
    position: relative;
    top: 0.3rem;
}

.agree-checkbox .button {
    font-size: 1rem;
    border-radius: 0;
    padding:0;
    color: #FE6B01;
}

.agree-checkbox .button.activated {
    color: #FE6B01;
}

.agree-checkbox.item.item-md .checkbox-md,
.agree-checkbox.item.item-ios .checkbox-ios {
    margin-right: 10px;
}
