page-user-project {
    .project-card:nth-child(1) {
        margin-top: 0;
    }
    .header {
        background-color: #fff;
    }
    .grid {
        padding: 0 !important;
    }
}

.empty-inner .icon {
    font-size: 10rem;
}

.virtual-scroll {
    margin-top: 10px;
}

.tab-top-notice {
    width: 100%;
    padding: 8px 15px;
    background-color: #FE6B01;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
}
