<!--
  Generated template for the UserProjectSideMenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="side-menu-header">
  <ion-navbar hideBackButton="true">
    <ion-buttons start>
      <button class="pop-button" ion-button (click)="back()" icon-only>
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <span class="project-header-title">
        {{projectName | slicetext:20}}
      </span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content #contentRef (ionScroll)="scrollingFun($event)" (ionScrollEnd)="scrollingFun($event)" class="side-menu-content outer-content">
  <div class="side-menu-profile-box">
    <span class="avatar-image-background-wrapper cropper">
      <img class="avatar-image-background" [src]="avatarImage" />
    </span>
    
    <ion-item class="avatar-span-wrapper">
      <span text-center class="avatar-image avatar-span cropper">
        <img class="avatar-span-image" [src]="avatarImage" />
      </span>
      <p text-center>Lv{{level}} {{levelClass}}</p>
      <h3 text-center [innerHTML]="nickname"></h3>
    </ion-item>
  </div>
  <ion-list class="side-menu-list">
    <!-- ========================= 심층 피드백 작성 =========================== -->
    <div class="side-menu-item white-menu-item" *ngIf="!isWritedReport">
      <button ion-button class="open-report-form" [disabled]="minOpinionNum > myOpinionNum" (click)="opneUserProjectReportFormPage()" block><ion-icon name="ios-create"></ion-icon>&ensp;심층 피드백 작성</button>
      <div margin-top text-right *ngIf="minOpinionNum > myOpinionNum" >
        <h5 *ngIf="feedbackNum > 0">{{minOpinionNum - myOpinionNum}}개 토론에 더 참여해야 작성할 수 있습니다.</h5>
        <button clear ion-button class="item-link-button" (click)="openProjectFeedbackListPage()">토론 참여하러 가기 <ion-icon name="ios-arrow-forward"></ion-icon></button>
      </div>
    </div>

    <!-- =========================전체 보상금액=========================== -->
    <div class="side-menu-item white-menu-item">
      <div class="div-flex">
        <span class="item-title">전체 보상금액
          <span class="best-badge warn-badge" *ngIf="interviewNum > 0">
            <span>WARN</span>
          </span>
        </span>
        <span class="item-point-box">
          <span class="project-point" [ngStyle]="{'text-decoration': interviewNum > 0? 'line-through' : 'none'}">{{projectPoint}}</span><span class="point-tag">p</span>
        </span>
      </div>
      <div text-right>
        <h5 *ngIf="interviewNum == 0">인터뷰에 응답하지 않으면 포인트를 받을 수 없습니다.</h5> 
        <h5 *ngIf="interviewNum > 0">{{interviewNum}}개의 인터뷰에 응답하지 않아 포인트를 받을 수 없습니다.</h5>
        <h5 *ngIf="interviewNum > 0">인터뷰에 응답해주세요.</h5> 
      </div>
    </div>

    <!-- ========================= 심층 피드백 보상금액 =========================== -->
    <div class="side-menu-item" *ngIf="isWritedReport">
      <div class="div-flex">
        <span class="item-title">심층 피드백 보상금액
          <span class="best-badge" *ngIf="isSelection">
            <span>선정</span>
          </span>
        </span>
        <span class="item-point-box">
          <span class="project-point">{{reportPoint}}</span><span class="point-tag">p</span>
        </span>
      </div>
      <div text-right>
        <h5 *ngIf="!isSelection">심사후 선정되면 추가 보상을 드립니다.</h5>
        <h5 *ngIf="isSelection">최고의 심층 피드백으로 선정되었습니다!.</h5>
        <button clear ion-button class="item-link-button" (click)="openUserProjectReportPage()">내 심층 피드백 확인하기 <ion-icon name="ios-arrow-forward"></ion-icon></button>
      </div>
    </div>

    <!-- =========================피드백 보상금액=========================== -->
    <div class="side-menu-item">
      <div class="div-flex">
        <span class="item-title">피드백 보상금액
          <span class="best-badge" *ngIf="isBest">
            <span>BEST</span>
          </span>
        </span>
        <span class="item-point-box">
          <span class="project-point">{{feedbackPoint}}</span><span class="point-tag">p</span>
        </span>
      </div>
      <div text-right>
        <h5>공감 {{empathyNum}}&ensp;|&ensp;비곰감 {{nonEmpathyNum}}</h5>
        <button clear ion-button class="item-link-button" (click)="openProjectFeedbackPage()">내 피드백 확인하기 <ion-icon name="ios-arrow-forward"></ion-icon></button>
      </div>
    </div>

    <!-- =========================토론장 보상금액=========================== -->
    <div class="side-menu-item">
      <div class="div-flex">
        <span class="item-title absolute-item-title">토론장 보상금액
          <h5 class="max-point">(Max {{maxOpinionPoint}}P)</h5>
        </span>
        <span class="item-point-box">
          <span class="project-point">{{opinionPoint}}</span><span class="point-tag">p</span>
        </span>
      </div>
      <div text-right>
        <h5 *ngIf="feedbackNum == 0">아직 등록된 피드백이 없습니다.</h5>
        <h5 *ngIf="feedbackNum > 0">{{feedbackNum}}개의 피드백 중 {{myOpinionNum}}개 토론 참여</h5>
        <button clear ion-button class="item-link-button" (click)="openProjectFeedbackListPage()">토론 참여하러 가기 <ion-icon name="ios-arrow-forward"></ion-icon></button>
      </div>
    </div>

    <!-- =========================인터뷰 보상금액=========================== -->
    <div class="side-menu-item">
      <div class="div-flex">
        <span class="item-title absolute-item-title">인터뷰 보상금액
          <h5 class="best-badge warn-clear-badge" *ngIf="interviewNum > 0">
            <span>{{interviewNum}}개의 새로운 인터뷰</span>
          </h5>
        </span>
        <span class="item-point-box">
          <span class="project-point">{{interviewPoint}}</span><span class="point-tag">p</span>
        </span>
      </div>
      <div text-right>
        <h5>{{completedInterviewNum}}개의 인터뷰에 참여</h5>
        <button clear ion-button class="item-link-button" (click)="openProjectInterviewDetailPage()">인터뷰하러 가기 <ion-icon name="ios-arrow-forward"></ion-icon></button>
      </div>
    </div>
  </ion-list>

</ion-content>