page-user-point-usage-history {
    .price-statement-header {
        background-color: #fff;
    
        .toolbar {
            border-bottom: 1px solid #eee;
        }
    
        .segment {
            background-color: #fff;
        }
    
        .segment-button {
            font-size: 1.2rem;
        }
        
        .segment-ios {
            padding: 8px;
        }
    }

    ion-card-header {
        text-overflow: unset;
        white-space: unset;
        h3 {
            color: #787878;
            font-size: 1.4rem;
            line-height: 1.5;
            display: inline-block;
            margin-bottom: 6px !important;   
        }

        .is-paid-badge {
            display: flex;
            align-items: center;
            margin-bottom: 8px;
        }

        .is-paid-badge.paid {
            background-color: #ff6700;
            display: inline-block;
            font-size: 1.4rem;
            border-radius: 50px;
            padding: 4px 16px;
            font-weight: bold;
            color: #fff;
        }

        .is-paid-badge .not-paid {
            background-color: #e5dfda;
            display: inline-block;
            font-size: 1.4rem;
            border-radius: 50px;
            padding: 4px 16px;
            font-weight: bold;
            color: #93918f;
        }

        .is-paid-badge .icon {
            margin-left: 8px;
            color: #ff6700;
            // font-weight: bold;
        }

        .is-paid-badge-wrapper {
            margin-bottom: 12px;
        }

        .not-paid-help {
            padding-left: 8px;
            color: #f2eeeb;
        }

        .not-paid-summary {
            font-size: 1.2rem;
            color: #787878;
            background-color:#eee;
            padding: 16px 16px;
            margin: 0 -16px;
            font-weight: normal;
            line-height: 1.35;
            transition: all 0.3s linear;
            margin-bottom: 8px;
        }

        p {
            color: #383838;
            font-size: 1.4rem;
        }
    }
    .usage-content {
        .usage-point-wrapper:nth-child(1) {
            margin-bottom: 6px;
        }
        .usage-type, .usage-point-tag {
            color: #787878;
            font-size: 1.4rem;
        }

        .usage-point {
            color: #383838;
            font-weight: bold;
            font-size: 2rem;
        }
    }

    .empty-inner {
        p {
            color: #a8a8a8;
        }
    }

    .top-point-wrapper {
        padding: 16px 16px 0 16px;
        .usage-type, .usage-point-tag{
            font-size: 1.2rem;
        }

        .usage-point {
            font-size: 1.6rem;
        }

        .total-point {
            color: #ff6700;
        }

        .total-save-point {
            color: #4688f1;
        }

        .total-exchange-point {
            color: #f53d3d;
        }
    }
}