<!--
  Generated template for the UserPointUsageHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="price-statement-header">
  <ion-navbar hideBackButton="true">
    <ion-buttons start>
      <button ion-button (click)="back()" icon-only>
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <span class="project-header-title">
        포인트 적립/환전 내역
      </span>
    </ion-title>
  </ion-navbar>
  <ion-segment [(ngModel)]="segmentHistoryCondition" (ionChange)="changeSegment()" color="primary" >
    <ion-segment-button value="all">
      전체보기 {{pointHistories.length}}
    </ion-segment-button>
    <ion-segment-button value="savePoint">
      적립 내역 {{savePointNum}}
    </ion-segment-button>
    <ion-segment-button value="exchangePoint">
      환전 내역 {{exchangePointNum}}
    </ion-segment-button>
  </ion-segment>
  <div class="shadow-top"></div>
</ion-header>


<ion-content>
  <ion-refresher padding-top (ionRefresh)="doRefresh($event)" pullMin="150" pullMax="500">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>          
  <div [ngSwitch]="segmentHistoryCondition" class="point-usage-list">
    <ion-list *ngSwitchCase="'all'">
      <div class="top-point-wrapper" text-right>
        <span class="usage-type">총 잔여 포인트</span>&ensp;
        <span class="usage-point total-point">{{totalPoint}}</span>&ensp;<span class="usage-point-tag">p</span>
      </div>
      <div *ngIf="pointHistories.length == 0" class="empty-content content-absolute">
        <span class="dark-trans-text under-icon">포인트 사용 내역이 없습니다.</span>
      </div>
      <div *ngFor="let pointHistory of pointHistories">
        <div class="usage-card"> 
          <div class="card-header">
            <p class="m-b-8" [innerHTML]="pointHistory.point_history_registration_date | amDateFormat: 'YYYY-MM-DD'"></p>
            <h3 class="m-b-40" *ngIf="pointHistory.is_accumulated">{{pointHistory.description}}</h3>
            <!-- 입금 전 -->
            <div class="is-paid-badge-wrapper m-b-40" *ngIf="!pointHistory.is_accumulated && !pointHistory.is_completed">
              <div class="is-paid-wrapper">입력하신 계좌로 입금&nbsp;<strong>대기중</strong>입니다.<ion-icon class="bold" *ngIf="isFold" (click)="fold(0)" name="ios-information-circle-outline"></ion-icon><ion-icon *ngIf="!isFold" (click)="fold(1)" name="ios-information-circle"></ion-icon></div>
              <div class="not-paid-summary" *ngIf="!isFold">입력하신 계좌로 신청 마감일(매월 15일, 월 1회) 기준 5영업일 내에 신청금액을 지급합니다. 자세한 내용은 이용약관을 참고해 주세요.</div>
            </div>
            <!-- 입금 -->
            <div class="is-paid-badge-wrapper m-b-40" *ngIf="!pointHistory.is_accumulated && pointHistory.is_completed">
              <div class="is-paid-wrapper paid">입력하신 계좌에 입금이&nbsp;<strong>완료</strong>되었습니다.</div>
            </div>
          </div>
          <div class="usage-content" text-right>
            <div class="usage-point-wrapper">
              <span class="usage-type bold" [ngStyle]="{'color': !pointHistory.is_accumulated ? '#f53d3d' : '#4688f1'}">{{pointHistory.is_accumulated | typeToText}}</span>&ensp;
              <span class="usage-point">{{pointHistory.point}}</span>&ensp;<span class="usage-point-tag">p</span>
            </div>
            <div class="total-point-wrapper">
              <span class="usage-type">잔여 포인트</span>&ensp;
              <span class="usage-point">{{pointHistory.total_point}}</span>&ensp;<span class="usage-point-tag">p</span>
            </div>
          </div>
        </div>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'savePoint'">
      <div class="top-point-wrapper" text-right>
        <span class="usage-type">총 적립 포인트</span>&ensp;
        <span class="usage-point total-save-point">{{totalSavePoint}}</span>&ensp;<span class="usage-point-tag">p</span>
      </div>
      <div *ngIf="savePointNum == 0" class="empty-content content-absolute">
        <span class="dark-trans-text under-icon">아직 적립된 포인트가 없습니다.</span>
      </div>
      <div *ngFor="let pointHistory of pointHistories">
        <div class="usage-card" *ngIf="pointHistory.is_accumulated">
          <div class="card-header">
            <p class="m-b-8" [innerHTML]="pointHistory.point_history_registration_date | amDateFormat: 'YYYY-MM-DD'"></p>
            <h3 class="m-b-40">{{pointHistory.description}}</h3>
          </div>
          <div class="usage-content" text-right>
            <div class="usage-point-wrapper">
              <span class="usage-type bold" [ngStyle]="{'color': !pointHistory.is_accumulated ? '#f53d3d' : '#4688f1'}">{{pointHistory.is_accumulated | typeToText}}</span>&ensp;
              <span class="usage-point">{{pointHistory.point}}</span>&ensp;<span class="usage-point-tag">p</span>
            </div>
            <div class="total-point-wrapper">
              <span class="usage-type">잔여 포인트</span>&ensp;
              <span class="usage-point">{{pointHistory.total_point}}</span>&ensp;<span class="usage-point-tag">p</span>
            </div>
          </div>
        </div>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'exchangePoint'">
      <div class="top-point-wrapper" text-right>
        <span class="usage-type">총 환전 포인트</span>&ensp;
        <span class="usage-point total-exchange-point">{{totalExchangePoint}}</span>&ensp;<span class="usage-point-tag">p</span>
      </div>
      <div *ngIf="exchangePointNum == 0" class="empty-content content-absolute">
        <span class="dark-trans-text under-icon">아직 적립된 포인트가 없습니다.</span>
      </div>
      <div *ngFor="let pointHistory of pointHistories">
        <div class="usage-card" *ngIf="!pointHistory.is_accumulated"> 
          <div class="card-header">
            <p class="m-b-8" [innerHTML]="pointHistory.point_history_registration_date | amDateFormat: 'YYYY-MM-DD'"></p>
            <!-- 입금 전 -->
            <div class="is-paid-badge-wrapper m-b-40" *ngIf="!pointHistory.is_completed">
              <div class="is-paid-wrapper">입력하신 계좌로 입금&nbsp;<strong>대기중</strong>입니다.<ion-icon class="bold" *ngIf="isFold" (click)="fold(0)" name="ios-information-circle-outline"></ion-icon><ion-icon *ngIf="!isFold" (click)="fold(1)" name="ios-information-circle"></ion-icon></div>
              <div class="not-paid-summary" *ngIf="!isFold">입력하신 계좌로 신청 마감일(매월 15일, 월 1회) 기준 5영업일 내에 신청금액을 지급합니다. 자세한 내용은 이용약관을 참고해 주세요.</div>
            </div>
            <!-- 입금 -->
            <div class="is-paid-badge-wrapper m-b-40" *ngIf="pointHistory.is_completed">
              <div class="is-paid-wrapper paid">입력하신 계좌에 입금이&nbsp;<strong>완료</strong>되었습니다.</div>
            </div>
          </div>
          <div class="usage-content" text-right>
            <div class="usage-point-wrapper">
              <span class="usage-type bold" [ngStyle]="{'color': !pointHistory.is_accumulated ? '#f53d3d' : '#4688f1'}">{{pointHistory.is_accumulated | typeToText}}</span>&ensp;
              <span class="usage-point">{{pointHistory.point}}</span>&ensp;<span class="usage-point-tag">p</span>
            </div>
            <div class="total-point-wrapper">
              <span class="usage-type">잔여 포인트</span>&ensp;
              <span class="usage-point">{{pointHistory.total_point}}</span>&ensp;<span class="usage-point-tag">p</span>
            </div>
          </div>
        </div>
      </div>
    </ion-list>
  </div>
</ion-content>