<!--
  Generated template for the UserMypagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="tabs-header">
    <ion-navbar hideBackButton="true">
      <ion-buttons start>
        <button class="badge-button-wrapper" ion-button clear (click)="openUserAlarmPage()">
          <ion-icon name="notifications">
            <ion-badge class="badge-button-wrapper-badge" color="danger" *ngIf="getAlarmNum()>0">{{getAlarmNum()}}</ion-badge>
          </ion-icon>              
        </button>
      </ion-buttons>
      <ion-title>마이페이지</ion-title>
      <ion-buttons end>
        <button ion-button (click)="openUserConfigurePage()">
          <ion-icon name="settings"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
  <ion-item margin-top class="mypage-profile-wrapper avatar-span-wrapper item-flex">
    <span item-start class="avatar-image avatar-span">
       <div class="avatar-span-image" [style.backgroundImage]="'url(' + avatarImage + ')'"></div> 
    </span>
    <p>Lv{{level}}  {{levelClass}}</p>
    <h5>
      {{nickname}}
      <button class="account-modification-button" ion-button clear (click)="openUserAccountModificationFormPage()">
        <ion-icon name="md-create"></ion-icon>
      </button>
    </h5>
    <p>{{point}} 포인트</p>
    <button margin-top class="profile-modification-button" ion-button outline block (click)="openUserProfileModificationFormPage()">프로필 수정</button>
  </ion-item>
  <div margin-top class="exp-wrapper">
    <span margin-left float-left>경험치</span>
    <span margin-right float-right>{{exp}}/{{maxExp}} ({{expPercent}}%)</span>
  </div>
  <progress-bar [progress]="expPercent"></progress-bar>

  <ion-segment class="segment-button-wrapper" [(ngModel)]="segmentProjectCondition">
    <ion-segment-button value="proceedingProject" isActive="true">
      <p>{{proceedingProjectNum}}</p>
      <h5>진행중인 프로젝트</h5>
    </ion-segment-button>
    <ion-segment-button value="rewardProject">
      <p>{{rewardProjectNum}}</p>
      <h5>보상받을 프로젝트</h5>
    </ion-segment-button>
    <ion-segment-button value="endProject">
      <p>{{endProjectNum}}</p>
      <h5>종료된 프로젝트</h5>
    </ion-segment-button>
  </ion-segment>

  <div class="outer-content" [ngSwitch]="segmentProjectCondition">
    <div *ngSwitchCase="'proceedingProject'">
      <div text-center *ngIf = "!proceedingProjects.length" class="empty-inner">
        <p>진행중인 프로젝트가 없습니다!</p>
        <button ion-button clear (click)="openUserProjectPage()">프로젝트 둘러보러 가기 ></button>
      </div>
      <ion-grid *ngIf="proceedingProjects.length">
        <ion-row>
          <ion-card tappable *ngFor="let proceedingProject of proceedingProjects" class="project-card" (click)="accessProjectCard(proceedingProject.project_id)">
          <div class="project-card-main-image-wrapper">
            <img [src]="proceedingProject.project_main_image" />
            <div class="project-card-overlay-wrapper">
              <span class="project-card-overlay">
                <span float-left class="project-card-overlay-item" [innerHTML]="proceedingProject.project_end_date | amLocale: 'ko' | amTimeAgo | progressState"></span>
                <span float-right class="project-card-overlay-item">{{proceedingProject.participant_num}} / {{proceedingProject.max_participant_num}}</span>
              </span>
            </div>
          </div>
          <progress-bar [progress]="proceedingProject.participant_num | divide : proceedingProject.max_participant_num"></progress-bar>
          <ion-card-content text-left>
            <span class="project-card-name">{{proceedingProject.project_name}} : </span>
            <span class="project-card-summary" [innerHTML]="proceedingProject.project_summary"></span>
          </ion-card-content>  
          <ion-item float-left class="avatar-span-wrapper item-flex">
            <span item-start class="avatar-image avatar-span">
              <div class="avatar-span-image" [style.backgroundImage]="'url(' + proceedingProject.avatar_image + ')'"></div>
            </span>
            <p>by. {{proceedingProject.nickname}}</p>
          </ion-item>
        </ion-card>
        </ion-row>
      </ion-grid>
    </div>

    <div class="outer-content" *ngSwitchCase="'rewardProject'">
      <div text-center *ngIf = "!rewardProjects.length" class="empty-inner">
        <p>보상받을 프로젝트가 없습니다!</p>
        <button ion-button clear (click)="openUserProjectPage()">프로젝트 둘러보러 가기 ></button>
      </div>
      <ion-grid *ngIf="rewardProjects.length">
        <ion-row>
          <ion-card tappable *ngFor="let rewardProject of rewardProjects" class="project-card" (click)="accessProjectCard(rewardProject.project_id)">
          <div class="project-card-main-image-wrapper">
            <img [src]="rewardProject.project_main_image" />
            <div class="project-card-overlay-wrapper">
              <span class="project-card-overlay">
                <span float-left class="project-card-overlay-item" [innerHTML]="rewardProject.project_end_date | amLocale:'ko' | amTimeAgo | progressState"></span>
                <span float-right class="project-card-overlay-item">{{rewardProject.participant_num}} / {{rewardProject.max_participant_num}}</span>
              </span>
            </div>
          </div>
          <progress-bar [progress]="rewardProject.participant_num | divide : rewardProject.max_participant_num"></progress-bar>
          <ion-card-content text-left>
            <span class="project-card-name">{{rewardProject.project_name}} : </span>
            <span class="project-card-summary" [innerHTML]="rewardProject.project_summary"></span>
          </ion-card-content>
          <ion-item float-left class="avatar-span-wrapper item-flex">
            <span item-start class="avatar-image avatar-span">
              <div class="avatar-span-image" [style.backgroundImage]="'url(' + rewardProject.avatar_image + ')'"></div>
            </span>
            <p>by. {{rewardProject.nickname}}</p>
          </ion-item>
        </ion-card>
        </ion-row>
      </ion-grid>
    </div>

    <div class="outer-content" *ngSwitchCase="'endProject'">
      <div text-center *ngIf = "!endProjects.length" class="empty-inner">
        <p>종료된 프로젝트가 없습니다!</p>
        <button ion-button clear (click)="openUserProjectPage()">프로젝트 둘러보러 가기 ></button>
      </div>
      <ion-grid *ngIf="endProjects.length">
        <ion-row>
          <ion-card tappable *ngFor="let endProject of endProjects" class="project-card" (click)="accessProjectCard(endProject.project_id)">
          <div class="project-card-main-image-wrapper">
            <img [src]="endProject.project_main_image" />
            <div class="project-card-overlay-wrapper">
              <span class="project-card-overlay">
                <span float-left class="project-card-overlay-item" [innerHTML]="endProject.project_end_date | amLocale:'ko' | amTimeAgo | progressState"></span>
                <span float-right class="project-card-overlay-item">{{endProject.participant_num}} / {{endProject.max_participant_num}}</span>
              </span>
            </div>
          </div>
          <progress-bar [progress]="endProject.participant_num | divide : endProject.max_participant_num"></progress-bar>
          <ion-card-content text-left>
            <span class="project-card-name">{{endProject.project_name}} : </span>
            <span class="project-card-summary" [innerHTML]="endProject.project_summary"></span>
          </ion-card-content>
          <ion-item float-left class="avatar-span-wrapper item-flex">
            <span item-start class="avatar-image avatar-span">
              <div class="avatar-span-image" [style.backgroundImage]="'url(' + endProject.avatar_image + ')'"></div>
            </span>
            <p>by. {{endProject.nickname}}</p>
          </ion-item>
        </ion-card>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>