page-admin-project-stats {

}

.project-stats-header {
    background-color: #fff;
    
    ion-buttons[start] {
        order: 1;
    }

    .toolbar-title {
        -webkit-box-pack: inherit !important;
        padding: 0;
        font-size: 1.6rem !important;
    }

    .title-ios {
        padding-right: 34px;
        padding-left: 34px;
    }
}

.project-stats-content {
    background-color: #EDEDEF;
    .stats-wrapper {
        .item {
            margin-top: 8px;
            padding-left: 16px;
            font-size: 1.4rem;
            font-weight: bold;
            color: #383838;
            .item-inner {
                padding-right: 16px;
                border-bottom: 0 !important;
            }
            span:nth-last-child(1) {
                color: #ff6400;
                font-size: 1.6rem;
            }
        }

        .item-md {
            span:nth-last-child(1) {
                margin-left: 8px;
            }
        }
    }

    ul {
        padding: 0px;
        margin: 8px 0;
        
        &.rating li {
            padding: 3px 0 !important;
            background: none;
            color: rgba(255,100,0,0.8);
            ion-icon {
                font-size: 1.6rem;
            }
        }
    }

    .stats-summary {
        padding: 0 16px 5px 16px;
        font-size: 1.2rem;
        color: #686868;
        strong {
            font-size: 1.4rem;
        }

        span {
            margin-right: 8px;
            display: inline-block;
            span {
                margin-right: 0;
                margin-left: 3px;
            }
        }

        small {
            color: #a8a8a8;
        }
    }

    .chart-wrapper {
        padding: 16px;
        background-color: #fff;
    }
}