<!--
  Generated template for the AdminProjectStatsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="project-stats-header">
  <ion-navbar hideBackButton="true">
    <ion-buttons start>
      <button class="pop-button" ion-button (click)="back()" icon-only>
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <span class="project-header-title">
        프로젝트 통계
      </span>
    </ion-title>
  </ion-navbar>
  <div class="shadow-top"></div>
</ion-header>


<ion-content class="project-stats-content">
  <div class="empty-content" *ngIf="stats.length == 0">
    <span class="dark-text">데이터 수집을 기다리는 중입니다 ...</span>
  </div>
  <div class="stats-wrapper" *ngFor="let stat of stats; let i=index">
    <ion-item text-right>
      <span item-start>{{stat.title}}</span>
      <rating [(ngModel)]="stat.average" readOnly="true" max="5" emptyStarIconName="ios-star-outline" starIconName="ios-star"></rating>
      <span item-end>{{average(i) | round:1}}</span> 
    </ion-item>
    <div class="chart-wrapper">
      <canvas baseChart width="100%" height="100%" [colors]="stat.colors" [datasets]="stat.datasets" [labels]="stat.labels" [chartType]="stat.type" [options]="stat.options"></canvas> 
      <div class="space-20"></div>
      <div class="stats-summary">프로젝트 참여인원 <strong>{{stat.totalNum}}</strong> 명 중</div>
      <div class="stats-summary">
        <span *ngFor="let data of stat.datasets[0].data.slice().reverse(); let j=index">{{stat.datasets[0].data.length-j}}점 : <strong>{{data}}</strong> 명 <small>({{(stat.totalNum == 0) ? 0 : data/stat.totalNum*100 | round:1}}%)</small><span *ngIf="j+1 != stat.datasets[0].data.length">,</span></span>
      </div>
    </div>
  </div>
</ion-content>
