page-user-project-feedback-form {
    .rating-grid {
        .unfill-stat {
            background-color: rgba(255, 255, 255, 0.2);
            color: #93918f;
        }
    }
    
}

.slide-question-content {
    ion-buttons[start] {
        order: 1;
    }

    .scroll-content {
        padding-top: 0 !important;
        background-color: #000;
    }

    ion-navbar {
        background-color: transparent;
        position: absolute;
        z-index: 10;
    }

    .bar-button, .project-header-title-wrapper span {
        color: #BDBDBD;
    }

    .toolbar.statusbar-padding:first-child {
        padding-top: calc(20px + 4px);
        min-height: calc(44px + 20px);
    }

    .toolbar-title {
        text-align: center;
    }
    .bar-buttons.bar-buttons-md {
        width: 30px;
    }
    .title-ios {
        padding: 0;
        padding-top: 20px;
        height: calc(44px + 20px);
        min-height: calc(44px + 20px);
    }
    .story-main-image {
        -webkit-filter: opacity(10%);
        filter: opacity(10%);
    }

    .story-main-image-wrapper {
        position: absolute;
        z-index: -1;
        top:0;
    }

    .project-header-title {
        line-height: 24px;
    }

    ion-slide {
        color: #BDBDBD;
    }

    .q-mark-wrapper {
        color: #fff;
        font-family: "NotoSans", "Helvetica Neue", sans-serif;
    }

    .q-mark {
        font-size: 6em;
        font-weight: 100;
    }

    .q-mark-number {
        position: relative;
        top: 12px;
        left: -5px;
        font-size: 35px;
        font-weight: 200;
    }

    .question {
        font-size: 1.8rem;
        margin-bottom: 16px;
    }

    ul {
        padding: 0px;
        margin: 30px 0;
        
        &.rating li {
            padding: 5px 2px !important;
            background: none;
            color: #fff;
            ion-icon {
                font-size: 45px;
            }

            .ion-ios-star-outline {
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }

    .question-summary {
        color: #686868;
        font-size: 1.15rem;
        width: 70vw;
        margin: 0 auto;
    }

    .slide-next-button-wrapper {
        position: absolute;
        width: 100%;
        bottom: 0;
        text-align: right;
    }

    .slide-next-button-wrapper .button {
        font-size: 35px;
        height: 2em;
    }

    .underline-input-button-wrapper {
        display: inline-block;
        margin-top: 16px;
    }

    .underline-input-button-wrapper .button-inner {
        display: block;
    }

    .underline-input {
        border-bottom: 1px solid #ababab;
        color: #ababab;
        height: auto;
        min-width: 50vw;
        max-width: 70vw;
        min-height: 3rem;
        transition: none;
        margin-bottom: 2px;
        white-space: unset;
        text-align: left;
        font-size: 1.2rem;
        padding: 0 0 8px 0;
        line-height: 1.4;
    }

    .underline-input .button-md {
        text-transform: none;
    }

    .underline-input .slice-tag {
        color: #ababab;
    }

    .underline-button {
        color: #ababab;
        height: auto;
        margin-top: 0;
        padding: 0;
        font-size: 1.2rem;
    }

    .feedback-hashtags-wrapper {
        margin-top: 16px;
    }

    .feedback-hashtag {
        color: #ff6400;
        margin-right: 8px;
        display: inline-block;
    }

    .button-md {
        text-transform: none;
    }
    
}

.line-breaker {
  white-space: pre-line;
}

.small-feedback-images.feedback-images {
    margin-top: 16px;
    display: flex;
    
    align-items:center;
    justify-content:center;

    -webkit-align-item:center;
    -webkit-justify-content:center;
    color: #fff;
}

.small-feedback-images .feedback-image-wrapper {
    width: 4rem;
    height: 4rem;
    min-width: 4rem;
    min-height: 4rem;
    overflow: hidden;
    border-radius: 5px;
    display: block;
    margin: 0 3px;
}

.small-feedback-images .feedback-image {
    position: relative;
    max-width: 4rem;
}

