<!--
  Generated template for the AdminProjectHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="project-header-wrapper">
    <ion-navbar hideBackButton="true">
      <ion-buttons start>
        <!-- <button class="dismiss-button" ion-button (click)="dismiss()" icon-only> -->
        <button ion-button (click)="back()" icon-only>
          <ion-icon name="ios-arrow-back"></ion-icon>              
        </button>
      </ion-buttons>
      <ion-title>
        <!-- <span class="project-header-title-wrapper">
          <span class="project-header-title">
            {{projectName | slice:0:15}}
          </span>
          <span class="slice-tag" *ngIf="projectName.length > 15"> ...</span>
        </span> -->
        <ion-item class="avatar-span-wrapper item-flex">
          <span item-start class="avatar-image avatar-span cropper">
            <img class="avatar-span-image" [src]="avatarImage"/>
          </span>
          <h3>{{nickname}}</h3>
          <h5>{{projectRegistrationDate | amDateFormat: 'YYYY-MM-DD'}} 에 작성됨</h5>
        </ion-item>
      </ion-title>
      <ion-buttons end>
        <button class="menu-button" ion-button icon-only (click)="openAdminProjectSideMenuPage()">
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons> 
  </ion-navbar>
</ion-header>

<ion-content class="project-home-content-wrapper" #contentRef>
  <ion-refresher padding-top (ionRefresh)="doRefresh($event)" pullMin="150" pullMax="500">
      <ion-refresher-content>
      </ion-refresher-content>
  </ion-refresher>                
  <div tappable class="project-card-main-image-wrapper" (click)="openAdminProjectStoryPage()">
    <!-- <div class="shadow-header-top"></div> -->
    <img class="project-home-main-image" [src]="projectMainImage" />
    <div class="card-overlay-top"></div>
    <div class="project-card-overlay-wrapper">
      <span text-center class="project-card-overlay">
        <span class="project-card-overlay-item">
          <ion-icon name="md-film"></ion-icon>스토리 보러가기
        </span>
      </span>
    </div>
  </div>
  <div class="project-home-content">
    <h1 [innerHTML]="projectName"></h1>
    <!-- <ion-item class="avatar-span-wrapper item-flex">
      <span item-start class="avatar-image avatar-span">
        <div class="avatar-span-image" [style.backgroundImage]="'url(' + avatarImage + ')'"></div>
      </span>
      <h3>{{nickname}}</h3>
    </ion-item> -->
    <p class="summary">{{projectSummary}}</p>
    <div class="participant-wrapper">
      <span></span>
      <span *ngIf="((progressState | amLocale:'ko' | amTimeAgo | progressState) != '종료')" float-right>{{maxParticipantNum}}명 중 {{participantNum}}명 참여 <small>({{participantNum | divide : maxParticipantNum}}%)</small></span>
      <span *ngIf="((progressState | amLocale:'ko' | amTimeAgo | progressState) == '종료')" float-right>{{participantNum}}명 참여</span>
    </div>
    <progress-bar *ngIf="((progressState | amLocale:'ko' | amTimeAgo | progressState) != '종료')" [progress]="participantNum | divide : maxParticipantNum"></progress-bar>
    <progress-bar *ngIf="((progressState | amLocale:'ko' | amTimeAgo | progressState) == '종료')" progress="100" class="dark-progress-bar"></progress-bar>
    <div *ngIf="(progressState | amLocale:'ko' | amTimeAgo | progressState) != '종료'" class="project-state-wrapper">
      <span class="project-state-icon">
        <img src="assets/img/calendar.png" />
      </span>
      <span class="project-state-content">
        {{progressState | amLocale:'ko' | amTimeAgo | progressState}}
      </span>
      <span margin-left class="project-state-icon">
        <img src="assets/img/people.png" />
      </span>
      <span class="project-state-content">
        <b *ngIf="(maxParticipantNum - participantNum) == 0">FULL</b>
        <b *ngIf="(maxParticipantNum - participantNum) != 0">{{maxParticipantNum - participantNum}}명 참여 가능</b>
      </span>
    </div>
    <div *ngIf="(progressState | amLocale:'ko' | amTimeAgo | progressState) == '종료'" class="project-state-wrapper">
      <span class="project-state-content">
        <b class="end-text">프로젝트가 종료되었습니다.</b>
      </span>
    </div>
    <div *ngIf="isLink">
      <button class="open-link-button" ion-button (click)="openAdminProjectLinkPage()">링크</button>
    </div>
    <div class="shadow-top"></div>
  </div>

  <div class="outer-content">
    <div class="feedbacks-header">
      <span class="header-name Company-ui">피드백 {{participantNum}}</span>
       <button ion-button (click)="openAdminProjectSearchPage()"><ion-icon name="search"></ion-icon>검색</button>
      <!-- <button ion-button class="feedback-list-button" (click)="openAdminProjectFeedbackListPage()">토론하러 가기<ion-icon name="ios-arrow-forward"></ion-icon></button> -->
    </div>
    <div text-center *ngIf = "!feedbacks.length" class="empty-inner">
      <ion-icon name="text"></ion-icon>
      <p>아직 등록된 피드백이 없습니다.</p>
    </div>
    <div class="feedback-card" *ngFor="let feedback of feedbacks"> 
      <div class="card-header">
        <ion-item class="avatar-span-wrapper item-flex">
          <span item-start class="avatar-image avatar-span cropper" tappable (click)="openAdminProjectUserProfilePage(feedback.project_participant_id)">
            <img class="avatar-span-image" [src]="feedback.avatar_image" />
          </span>
          <h3>
            <span class="best-badge" *ngIf="feedback.is_best">
              <span>BEST</span>
            </span>
            <span class="user-nickname-button" tappable (click)="openAdminProjectUserProfilePage(feedback.project_participant_id)">{{feedback.nickname}}</span>
            <span float-right class="empathy-wrapper">
              <span><span class="text-empathy">공감</span> {{feedback.empathy_num}}</span>
              <span><span class="text-nonempathy">비공감</span> {{feedback.non_empathy_num}}</span>
            </span>
          </h3>
          <p [innerHTML]="feedback.project_feedback_registration_date | amLocale:'ko' | amTimeAgo"></p>
        </ion-item>
      </div>
      <div class="feedback-content">
        <div class="feedback-summary" tappable (click)="openAdminProjectFeedbackPage(feedback.project_participant_id)">
          {{(feedback.project_feedback | jsonParse)[0] | slicetext:100 }}   
          <!-- <span class="slice-tag" *ngIf="(feedback.project_feedback | jsonParse)[0].length > 100"> ...</span>   -->
          <div class="feedback-more-button">피드백 자세히 보러가기 ></div>
        </div>
        <div class="hashtag-wrapper">
        <span tappable ion-button outline *ngFor="let feedbackHashtag of feedback.project_feedback_hashtags | jsonParse" (click)="openAdminProjectSearchResultPage([feedbackHashtag])" >
          #{{feedbackHashtag}}
        </span> 
        </div>
      </div>
    </div>
  </div>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="openAdminProjectInterviewPage()"><ion-icon name="text"></ion-icon></button>
    <ion-badge item-end *ngIf="interview_num > 0">{{interview_num}}</ion-badge>
  </ion-fab>

  <!-- <ion-fab right bottom>
    <button ion-fab><ion-icon name="add"></ion-icon></button>
    <ion-badge item-end *ngIf="interview_num > 0">{{interview_num}}</ion-badge>
    <ion-fab-list side="top">
      <button ion-fab (click)="openAdminProjectUserReportPage()"><ion-icon color="light" name="ios-clipboard"></ion-icon></button>
      <button ion-fab (click)="openAdminProjectInterviewPage()"><ion-icon color="light" name="text"></ion-icon></button>
      <ion-badge item-end *ngIf="interview_num > 0">{{interview_num}}</ion-badge>
    </ion-fab-list>
  </ion-fab> -->
</ion-content>
