<!--
  Generated template for the AdminProjectInterviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons start>
      <button ion-button (click)="back()" icon-only>
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <span class="project-header-title">
        {{projectName | slicetext:15}}
      </span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher padding-top (ionRefresh)="doRefresh($event)" pullMin="150" pullMax="500">
      <ion-refresher-content>
      </ion-refresher-content>
  </ion-refresher>              
  <ion-item class="interview-content-top">
    <span item-left [innerHTML]="projectEndDate | amLocale:'ko' | amTimeAgo | progressState"></span>
    <span item-right>총 {{maxInterviewNum}}개의 인터뷰 중 {{totalInterviewNum}}개 이용</span>
  </ion-item>

  <ion-list>
    <ion-item tappable float-left class="interview-item avatar-span-wrapper item-flex" *ngFor="let interview of interviews" (click)="openAdminProjectInterviewDetailPage(interview.project_participant_id)">
      <span item-start class="avatar-image avatar-span cropper">
        <img class="avatar-span-image" [src]="interview.avatar_image" />
      </span>
      <h2 [innerHTML]="interview.nickname"></h2>
      <p *ngIf="interview.ordinal">{{interview.ordinal}}차 인터뷰</p>
      <div item-end class="interview-item-end">
        <ion-note *ngIf="interview.interview_response_registration_date" #progressState [innerHTML]="interview.interview_response_registration_date | amLocale:'ko' | amTimeAgo"></ion-note>
        <ion-note *ngIf="interview.interview_request_registration_date && !interview.interview_response_registration_date" #progressState [innerHTML]="interview.interview_request_registration_date | amLocale:'ko' | amTimeAgo"></ion-note>
        <div class="badge-new" *ngIf="interview.interview_num != 0">{{interview.interview_num}}</div>
        <div class="blank-badge-new" *ngIf="interview.interview_num == 0">0</div>
      </div>
    </ion-item>
  </ion-list>

</ion-content>
