page-user-project-interview-answer {

}

.help {
    position: absolute;
    z-index: 999;
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.9);
    color: #fff;
    overflow: hidden;
    .help-wrapper {
        h1 {
            font-size: 2.2rem;
        }

        h2 {
            font-size: 1.6rem;
            color: #F9BB2D;
        }

        .help-references-wrapper {
            .help-references {
                display: inline-block;
                padding: 8px 16px;
                border: 1px solid #F9BB2D;
                border-radius: 100px;
                background-color: rgba(35,35,35,0.8);
                margin: 6px;
            }
        }

        .hide-help-btn {
            font-size: 2rem;
            color: #ddd;
        }
    }
}


.editor-content {
    height: 100%;
    .question-wrapper {
        color: #383838;
    }

    .interview-point-wrapper {
        .reward-point {
            font-size: 2.5rem;
            font-weight: 300;
        }
        .point-notice {

        }
    }

    .interview-text-count-wrapper {
        text-align: left;
        .text-count-wrapper {
            display: inline-block;
            position: relative;
            transition: all 0.4s ease-out;
            font-size: 1rem;
            // margin-left: -2%;
        }
        
        .progress-outer {
            width: 100%;
            text-align: center;
            background-color: rgba(175, 176, 177, 0.4);
            border: 0;
            color: #fff;
        }
     
        .progress-inner {
            height: 3px;
            white-space: nowrap;
            overflow: hidden;
            // background-color: #ff6400;
            transition: all 0.4s ease-out;
        }
    }

    .editor-open-btn {
        font-size: 1.2rem;
        display: inline-block;
        color: #a8a8a8;
        background-color: #e8e8e8;
        border: 0.55px solid #ddd;
        border-radius: 100px;
        padding: 4px 16px;
        font-weight: bold;
        box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.1);
    }

    textarea {
        resize: none;
        background-color: #fff;
        height: 40vh;
        padding: 8px;
        border: 0;
        font-size: 1.3rem;
        margin: 0;
        width: calc(100% - 32px);
        margin: 16px;
        margin-bottom: 3px;
        outline: none;
        line-height: 1.4;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .content-length-wrapper {
        margin: 0 16px;
        text-align: right;
        color: #787878;
        font-size: 1.3rem;
        padding-right: 16px;
    }
    
    .delete-image-button {
        // position: absolute;
        padding: 0;
        margin: 0;
        height: auto;
        width: 9rem;
        min-width: 9rem;
        z-index: 1;
        top: 2.5rem;
    }

    .delete-image-button .button-inner {
        justify-content: flex-end;
    }

    .delete-image-button img{
        width: 1.5rem;
        height: 1.5rem;
        margin: 0.5rem;
    }

    .small-feedback-images .feedback-image-wrapper {
        width: 9rem;
        height: 9rem;
        min-width: 9rem;
        min-height: 9rem;
        overflow: hidden;
        margin: 0;
    }

    .small-feedback-images .image-box {
        margin-left: 6px;
    }

    .small-feedback-images .image-box:nth-child(1) {
        margin-left: 16px;
    }

    .small-feedback-images .image-box:nth-last-child(1) {
        padding-right: 16px;
    }

    .small-feedback-images .feedback-image {
        max-width: 9rem;
    }

    .add-image-button {
        background-color: #d8d8d8;
        top:0;right:0;bottom:0;left:0;
        display:flex;
        align-items:center;
        justify-content:center;
        font-size: 2rem;

        display:-webkit-flex;
        -webkit-align-item:center;
        -webkit-justify-content:center;
        color: #aaa;
        margin-top: 2.5rem !important;
        // margin: 2.5rem 16px 0 6px !important;
    }
}

.editor-modal{
    background-color: #ffffff;
}

.editor-header {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    position: relative;

    ion-buttons {
        margin: 0 8px;
    }

    ion-buttons .button-inner {
        font-size: 1.4rem;
        font-weight: 500;
    }

    ion-buttons[start] {
        order: 1;
    }

    .dismiss-button {
        color: rgb(64,64,64);
    }

    .complete-button {
        color: #ff6400;
    }

    .toolbar-title-md {
        display: -webkit-box !important;
        font-size: 1.7rem;
        font-weight: 600;
    }
}

.keywords-toolbar {
    padding-left: 0px;
    .toolbar-background {
        background-color: #fff !important;
        border-top: 0.55px solid #eee;
    }
    .bar-buttons {
        background-color: #fff;
    }
    .help-btn {
        color: #ff6700;
    }
    .overlay-tags-wrapper {
        display: block;
        width: 20px;
        position: absolute;
        height: 100%;
        left: -20px;
    }
    .toolbar-content {
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .keywords-chooser-wrapper {
        padding: 5px 0px;
        margin: 0;
        // display: block;
        background-color: #fff;
        // display: flex;
        // overflow-x: scroll;
        ion-buttons {
            display: flex;
            // overflow-x: scroll;
        }
    
        ion-icon {
            color: #888;
        }
    
        .keywords-btn {
            color: #ff6700 !important;
            margin: 0 4px 0 4px;
            padding: 8px 16px !important;
            background-color: #ddd;
            border-radius: 100px;
            font-size: 1.2rem;
            height: auto;
        }

        .keywords-btn:nth-child(1) {
            margin-left: 16px;
        }

        .keywords-btn:nth-last-child(1) {
            margin-right: 20px;
        }
    }
}