page-user-tabs {
    
}

.badge-button-wrapper {            
    position: relative;
    width: 42px;
    top:1px;
    right: 1px;
    overflow: visible!important;
}

.tabs-header {
    background-color: #fff;
}


.tabs-header ion-icon {
    font-size: 1.4em;
    color: #B0B0B0;
}


.badge-button-wrapper-badge {
    background-color: #FE6B01;
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 10px;
    padding: 2px 4.5px;
}

.tabs-ios .tab-button-icon {
    font-size: 25px;
    height: 27px;
}

.tabs .tab-button[aria-selected=true] .tab-button-icon,
.tabs .tab-button:hover:not(.disable-hover), .tabs .tab-button[aria-selected=true] {
    color: #FE6B01;
}

.tab-badge {
    font-size: 0;
    line-height: 6px;
    padding: 1px 0;
    min-width: 8px;
    right: calc(50% - 25px) !important;
    background-color: #FE6B01;
}

.has-header.content-ios .fixed-content,
.has-header.content-ios .scroll-content {
    margin-top: 64px;
}

.content-md .fixed-content,
.content-md .scroll-content {
    margin-top: 56px;
}