page-company-project-interview-detail {
    .waiting-reply {
        color: #787878 !important;
        background-color: #f3f3f3;
    }

    ion-footer {
        background: rgba(239,239,244,1); /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(rgba(239,239,244,0.2), rgba(239,239,244,1)); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(rgba(239,239,244,0.2), rgba(239,239,244,1)); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(rgba(239,239,244,0.2), rgba(239,239,244,1)); /* For Firefox 3.6 to 15 */
        background: linear-gradient(rgba(239,239,244,0.2), rgba(239,239,244,1)); /* Standard syntax */

        ion-icon {
            margin-left : 8px;
        }
    }

    .footer-md::before {
        display: none;
    }

    .scroll-content {
        margin-bottom: 0 !important;
        padding-bottom: 78px;
    }

    .reply-company-interview {
        padding-left: 0;
        padding-right: 0;
        margin-left: 14px;
        margin-right: 14px;
        width: calc(100% - 28px);
        border-radius: 8px !important;
        border: 1px solid #e8e8e8;
        box-shadow: 0 14px 28px rgba(0,0,0,0), 0 10px 10px rgba(0,0,0,0.1);
    }

    .disable-interview-btn {
        color: #787878 !important;
    }
}
