page-company-project-interview-detail {
    .help-btn-wrapper {
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        box-shadow: 0 6px 16px 0 rgba(144,0,0,0.1);
        background-color: #fff;
        .help-btn {
            position: relative;
            font-size: 2rem;
            margin: 0 !important;
            font-weight: bold;
        }
    }
    .avatar-span-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        .more-btn {
            font-size: 2rem;
            width: 2.2rem;
            color: #787878;
        }
    }
    .avatar-span {
        height: 2.5em;
        width: 2.5em;
        margin-right: 8px !important;
        overflow: hidden;
        border-radius: 100px;
        border: 1px solid #e4e4e4;
        display: inline-block;
    }

    .avatar-span {
        margin-right: 0 !important;
        margin-left: 8px;
    }

    .avatar-span .avatar-span-image {
        height: 2.5em;
        width: 2.5em;
    }
    .waiting-reply {
        color: #787878 !important;
        background-color: #f3f3f3;
    }

    .editor-header {
        p {
            color: #989898;
            font-size: 1rem;
            margin-top: 0;
        }

    }


    ion-footer {
         background-color: transparent;
    }

    .footer-md::before {
        display: none;
    }

    .scroll-content {
        margin-bottom: 0 !important;
        padding-bottom: 150px;
    }

    .reply-company-interview {
        padding-left: 0;
        padding-right: 0;
        margin-left: 14px;
        margin-right: 14px;
        width: calc(100% - 28px);
        border-radius: 8px !important;
        border: 1px solid #e8e8e8;
        box-shadow: 0 14px 28px rgba(0,0,0,0), 0 10px 10px rgba(0,0,0,0.1);
    }

    .disable-interview-btn {
        color: #787878 !important;
    }

    .item-tag-wrapper {
        position: absolute;
        right: -20px;
        bottom: 0px;
        .btn-item-more {
            top:4px;
            display: inline-block;
            .button {
                font-size: 2rem;
                color: #c8c8c8;
                background-color: transparent;
                padding: 0;
                margin: 0;
            }
            .like-btn {
                height: 4rem;
                width: 4rem;
            }
            .more-btn {
                height: 4rem;
                width: 2rem;
            }
        }
    }

    .tabs-header {
        border-bottom: 0.25px solid rgba(0, 0, 0, 0.1);
    }

    .like-true-icon { color: #fff; }
    .like-false-icon {color: #ddd; }
}

.editor-textarea-footer {
    .toolbar-background {
        // background-color: #fff !important;
        border-top: 0;
    }
    .toolbar {
        padding: 0;
        padding-bottom: 0px;
    }
    .textcount-toolbar {
        padding-left: 16px;
        padding-right: 16px;
    }

    .footer-textarea-summary {
        margin: 0 16px;
        font-size: 1.2rem;
        font-weight: normal;
        // margin-bottom: 3px;
        .footer-textarea-summary-wrapper {
            .textcount-summary-wrapper {
                display: inline-block;
                padding: 10px 18px;
                border-radius: 100px;
                box-shadow: 0 6px 16px 0 rgba(0,0,0,0.2);
                
                margin-bottom: 3px;
                background-color: #fff;
            }
            .textcount-wrapper {
                display: inline-block;
                padding: 10px 18px;
                border-radius: 100px;
                box-shadow: 0 6px 16px 0 rgba(0,0,0,0.2);
                background-color: #fff;
                
                margin-bottom: 3px;
            }
        }
    }
    
    .textarea-wrapper {
        display: inline-flex;
        width: calc(100% - 24px);
        margin: 2px 12px;
        border: 1px solid #eee;
        border-radius: calc((1.3rem + 22px) / 2);
        background-color: #fff;
        margin-bottom: 10px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

        .textarea {
            background-color: #fff;
            border-radius: calc((1.3rem + 22px) / 2);
            padding: 10px 45px 10px 16px;
            margin: 0 !important;
            font-size: 1.3rem;
            max-height: 80px;
            overflow-y: scroll !important;
            border: 0px;
            width: 100%;
            min-height: calc(1.3rem + 22px);
        }
        button {
            border-radius: 100px;
            background-color: #FF781C;
            margin:0;
            width: 30px;
            height: 30px;
            color: #fff;
            font-size: 1.3rem;
            font-weight: 500;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: 14.5px !important;
            right: 20px;
            .icon {
                margin-left: 2px;
            }
        }
    }

    .help-wrapper h2 {
        font-size: 1.4rem !important;
    }
}

.interview-devide {
    align-items:center;
    justify-content:center;

    display:-webkit-flex;
    -webkit-align-item:center;
    -webkit-justify-content:center;
    border-bottom: 1px solid #d8d8d8;
    .line-content {
        background-color: #D8D8D8;
        border-radius: 50px;
        color: #fff;
        font-weight: bold;
        width: auto;
        margin-left: 0;
        bottom: calc(-1 * (0.6rem + 8px));
        position: relative;
        outline: 16px solid #F7F8FB;
        padding: 8px 16px;
        font-size: 1.2rem;
    }
}
.interview-ion-content {
    background-color: #F7F8FB !important;
}
.interview-bubble-wrapper {
    .interview-waiting-response {
        background-color: #f8f8f8 !important;
        color: #989898 !important;
    }
    .interview-bubble {
        max-width: 80vw;
        width: auto;
        font-size: 1.3rem;
        position: relative;
        display: inline-block;
        b {
            font-size:1.5rem; margin-right: 4px;
        }
        p {
            margin: 0;
            line-height: 1.4;
            font-weight: 500;
        }
        .date-text {
            font-size: 1rem;
            margin-top: 5px;
        }
    }
    .right-interview-bubble {
        padding: 25px 20px 25px 36px;
        margin-right: 0;
        margin-left: auto;
        border-bottom-left-radius: 35px;
        border-top-left-radius: 35px;
        background-color: #FA9868;
        color: #fff;
        box-shadow: 0 8px 16px 0 rgba(146,46,0,0.3);
        z-index: 2;
        .date-text {
            color: #EBE7E5;
        }
    }
    .left-interview-bubble {
        padding: 25px 36px 25px 20px;
        margin-top: -11px;
        margin-left: 0;
        margin-right: auto;
        border-bottom-right-radius: 35px;
        border-top-right-radius: 35px;
        background-color: #fff;
        color: #554B5A;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
        z-index: 1;
        .date-text {
            color: #888;
        }
    }
}