<!--
  Generated template for the CompanyProjectInterviewDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="help" [ngStyle]="{'display': isHelpHide ? 'none' : 'flex'}">
  <div class="help-wrapper p-l-28 p-r-28" text-center>
    <h1 class="m-b-30">인터뷰 질문은 어떻게 해야할까요?</h1>
    <h2 class="m-b-30">아래 링크를 통해 인터뷰 방법에 대해 알아보세요!</h2>
    <div class="buttons-wrapper m-b-30">
      <span tappable class="interview-link-btn" (click)="openInterviewInfo()">인터뷰 방법 알아보기</span>
    </div>
    <div class="divider m-b-30"></div>
    <h2 class="m-b-30">아래 예문들을 참고해 보세요!</h2>
    <div class="help-references-wrapper m-b-60 p-l-16 p-r-16">
      <span class="help-references" *ngFor="let helpReferance of helpReferances">{{helpReferance}}</span>
    </div>
    <div class="hide-help-btn" (click)="help()" tappable>닫기</div>
  </div>
</div>
<ion-header class="editor-header">
  <ion-navbar hideBackButton="true">
    <ion-buttons start>
      <button ion-button (click)="back()" icon-only>
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <span class="project-header-title">
        {{nickname}}
      </span>
    </ion-title>
    <ion-buttons class="avatar-span-wrapper" end>
      <span class="avatar-image avatar-span cropper">
        <img class="avatar-span-image" [src]="avatar_image" />
      </span>
      <button class="more-btn" ion-button (click)="reportInterview()">
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="interview-ion-content">
  <ion-refresher padding-top (ionRefresh)="doRefresh($event)" pullMin="150" pullMax="500">
      <ion-refresher-content>
      </ion-refresher-content>
  </ion-refresher>
  <div>
    <!-- 기본 정보 파트 -->
    <div class="interview-wrapper">
      <div class="interview-devide m-b-40 m-t-20"><span class="line-content">1차 인터뷰</span></div>
      <!-- ========================Company============================= -->
      <div class="interview-bubble-wrapper">
        <div text-right><div class="right-interview-bubble interview-bubble">
          <p text-left class="interview-comment pre-line"><b>Q.</b> 안녕하십니까? {{nickname}}님. 간단한 자기소개 부탁드릴게요!</p>
          <p text-left class="date-text">{{project_participation_date | amLocale:'ko' | amTimeAgo}}</p>
        </div></div>
        <!-- ==========================USER=============================== -->
        <div text-left><div class="left-interview-bubble interview-bubble">
          <p class="interview-comment pre-line"><b>A.</b> 안녕하세요! 저는 {{region}}에 거주하고 있는 {{age}} {{gender}} {{nickname}}이라고 합니다. 직업은 {{job}}이며, 현재 {{marriage}}인 상태입니다.</p>
          <p class="date-text">{{project_participation_date | amLocale:'ko' | amTimeAgo}}</p>
        </div></div>
      </div>
    </div>

    <div class="interview-wrapper">
      <div class="interview-devide m-b-40 m-t-50"><span class="line-content">2차 인터뷰</span></div>
      <!-- ========================Company============================= -->
      <div class="interview-bubble-wrapper">
        <div text-right><div class="right-interview-bubble interview-bubble">
          <p text-left class="interview-comment pre-line"><b>Q.</b> 반갑습니다. 지금부터 기본적인 질문 몇가지를 드릴텐데요. 우선 현재 사용하고 계신 스마트폰 정보가 어떻게 되시나요?</p>
          <p text-left class="date-text">{{project_participation_date | amLocale:'ko' | amTimeAgo}}</p>
        </div></div>
        <!-- ==========================USER=============================== -->
        <div text-left><div class="left-interview-bubble interview-bubble">
          <p class="interview-comment pre-line"><b>A.</b> OS는 {{phone_os}}이고, 사용중인 기기는 {{phone_model}}입니다.</p>
          <p class="date-text">{{project_participation_date | amLocale:'ko' | amTimeAgo}}</p>
        </div></div>
      </div>
    </div>

    <div class="interview-wrapper" *ngFor="let condition of project_participation_objective_conditions; let i = index">
      <div class="interview-devide m-b-40 m-t-50"><span class="line-content">{{3 + i}}차 인터뷰</span></div>
      <!-- ========================Company============================= -->
      <div class="interview-bubble-wrapper">
        <div text-right><div class="right-interview-bubble interview-bubble">
          <p text-left class="interview-comment pre-line"><b>Q.</b> {{condition.question}}</p>
          <p text-left class="date-text">{{project_participation_date | amLocale:'ko' | amTimeAgo}}</p>
        </div></div>
        <!-- ==========================USER=============================== -->
        <div text-left><div class="left-interview-bubble interview-bubble">
          <p class="interview-comment pre-line"><b>A.</b> {{condition.value}}</p>
          <p class="date-text">{{project_participation_date | amLocale:'ko' | amTimeAgo}}</p>
        </div></div>
      </div>
    </div>

    <div class="interview-wrapper">
      <div class="interview-devide m-b-40 m-t-50"><span class="line-content">{{3+project_participation_objective_conditions.length}}차 인터뷰</span></div>
      <!-- ========================Company============================= -->
      <div class="interview-bubble-wrapper">
        <div text-right><div class="right-interview-bubble interview-bubble">
          <p text-left class="interview-comment pre-line"><b>Q.</b> 응답 감사합니다. 앞으로 인터뷰를 진행하게 될텐데 선호하는 인터뷰 시간을 말씀해주세요!</p>
          <p text-left class="date-text">{{project_participation_date | amLocale:'ko' | amTimeAgo}}</p>
        </div></div>
        <!-- ==========================USER=============================== -->
        <div text-left><div class="left-interview-bubble interview-bubble">
          <p class="interview-comment pre-line"><b>A.</b> 저는 {{preferred_interview_time}} 정도가 좋을 것 같습니다.</p>
          <p class="date-text">{{project_participation_date | amLocale:'ko' | amTimeAgo}}</p>
        </div></div>
      </div>
    </div>

    <div class="interview-wrapper">
      <div class="interview-devide m-b-40 m-t-50"><span class="line-content">{{4+project_participation_objective_conditions.length}}차 인터뷰</span></div>
      <!-- ========================Company============================= -->
      <div class="interview-bubble-wrapper">
        <div text-right><div class="right-interview-bubble interview-bubble">
          <p text-left class="interview-comment pre-line"><b>Q.</b> 저희 서비스의 첫 인상은 어떠셨나요? 점수로 표현하자면 1점에서 10점 중 몇점을 주시겠습니까?</p>
          <p text-left class="date-text">{{project_participation_date | amLocale:'ko' | amTimeAgo}}</p>
        </div></div>
        <!-- ==========================USER=============================== -->
        <div text-left><div class="left-interview-bubble interview-bubble">
          <p class="interview-comment pre-line"><b>A.</b> 저의 솔직한 첫인상 점수는 {{project_first_impression_rate}}점 입니다.</p>
          <p class="date-text">{{project_participation_date | amLocale:'ko' | amTimeAgo}}</p>
        </div></div>
      </div>
    </div>

    <!-- 인터뷰 파트 -->
    <div class="interview-wrapper" *ngFor="let interview of interviews; let count = index">
      <div class="interview-devide m-b-40 m-t-50"><span class="line-content">{{count+1+4+project_participation_objective_conditions.length}}차 인터뷰</span></div>
      <!-- ========================Company============================= -->
      <div class="interview-bubble-wrapper">
        <div text-right><div class="right-interview-bubble interview-bubble">
          <p text-left class="interview-comment pre-line"><b>Q.</b> {{interview.interview_question}}</p>
          <p text-left class="date-text">{{interview.interview_question_registration_date | amLocale:'ko' | amTimeAgo}}</p>
        </div></div>
        <!-- ==========================USER=============================== -->
        <div text-left *ngIf="interview.interview_answer"><div class="left-interview-bubble interview-bubble">
          <p class="interview-comment pre-line"><b>A.</b> {{interview.interview_answer}}</p>
          <p class="date-text">{{interview.interview_answer_registration_date | amLocale:'ko' | amTimeAgo}}</p>
          <span class="item-tag-wrapper">
            <span class="btn-item-more">
              <!-- 신고하기 수정 -->
              <button [ngStyle]="{'background-color': interview.is_like ? '#FF533D' : '#fff', 'box-shadow': interview.is_like ? '0 8px 16px 0 rgba(144,0,0,0.2)' : '0 4px 16px 0 rgba(0,0,0,0.1)'}" class="like-btn" ion-button (click)="clickLike(interview)">
                <ion-icon class="like-true-icon" name="ios-heart" *ngIf="interview.is_like"></ion-icon>
                <ion-icon class="like-false-icon" name="ios-heart" *ngIf="!interview.is_like"></ion-icon>
              </button>
            </span>
          </span>
        </div></div>
        <div text-left *ngIf="!interview.interview_answer"><div class="left-interview-bubble interview-bubble interview-waiting-response">
          <p class="interview-comment pre-line">답변 대기중 ...</p>
        </div></div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer class="editor-textarea-footer" *ngIf="is_proceeding">
  <!-- <ion-toolbar class="keywords-toolbar">
    <div class="keywords-chooser-wrapper" start>
      <ion-buttons>
        <button for="inputID" *ngFor="let keyword of projectKeywords" ion-button class="keywords-btn" (click)="insertKeyword(keyword);">
          {{keyword}}
        </button>
      </ion-buttons>
    </div>
    <ion-buttons end>
      <span class="white-right-to-left-gradient-wrapper overlay-tags-wrapper"></span>
      <button class="help-btn" ion-button (click)="help()" icon-only>
        <ion-icon name="ios-help-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar> -->
  <!-- <ion-navbar hideBackButton="true"> -->
    <div class="footer-textarea-summary">
      <div class="footer-textarea-summary-wrapper">
        <span class="textcount-summary-wrapper">
          <span [ngStyle]="{'color': countColor(textCount(questionInterview))}">
            <strong>{{pointNotice(textCount(questionInterview))}}</strong>
          </span>
        </span>
        <span class=" help-btn-wrapper" float-right>
          <span tappable class="help-btn" (click)="help()">
            ?
          </span>
        </span>
        <span class="textcount-wrapper m-r-5" float-right>
          <span [ngStyle]="{'color': countColor(textCount(questionInterview))}">
            {{textCount(questionInterview)}}
          </span>
        </span>
      </div>
    </div>
    <div class="textarea-wrapper">
      <!-- <ion-item>  -->
        <textarea autofocus class="textarea" rows="1" fz-elastic placeholder="인터뷰 질문을 작성해주세요." [(ngModel)]="questionInterview"></textarea>
        <button [disabled]="minTextLength > (questionInterview | textcount) || maxTextLength < (questionInterview | textcount)" (click)="sendInterview()">
          <ion-icon name="md-send"></ion-icon>
        </button>    
    </div>
  <!-- </ion-navbar> -->
</ion-footer>