<!--
  Generated template for the AdminProjectStoryHorizontalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="story-slide" no-bounce>
  <div class="story-main-image-wrapper">
    <div class="story-main-image" [ngStyle]="{'-webkit-filter': isFirstSlide ? 'opacity(30%)': 'opacity(25%) blur(5px)','filter': isFirstSlide ? 'opacity(30%)': 'opacity(25%) blur(5px)'}" [style.backgroundImage]="'url(' + projectMainImage + ')'"></div>
  </div>
  <ion-slides pager="false" (ionSlideDidChange)="slideChanged()">
    <ion-slide class="story-first-slide" padding>
      <ion-buttons class="slide-title-wrapper">
        <button ion-button clear (click)="goNextSlide()">
          <h1 class="title">프로젝트 스토리 ></h1>
        </button>
      </ion-buttons>
      <h2 class="m-b-20">{{projectName}}</h2>
      <div *ngIf="(progressState | amLocale:'ko' | amTimeAgo | progressState) != '종료'" class="project-state-wrapper">
        <span class="project-state-icon">
          <!-- <ion-icon name="md-calendar" item-start></ion-icon> -->
          <img src="assets/img/calendar.png" />
        </span>
        <span class="project-state-content">
          {{progressState | amLocale:'ko' | amTimeAgo | progressState}}
        </span>
        <span margin-left class="project-state-icon">
          <!-- <ion-icon name="md-people" item-start></ion-icon> -->
          <img src="assets/img/feed100-coin-single.png" />
        </span>
        <span class="project-state-content">
          <b>max {{maxReward}}p</b>
        </span>
      </div>
      <div *ngIf="(progressState | amLocale:'ko' | amTimeAgo | progressState) == '종료'" class="project-state-wrapper">
        <span class="project-state-content">
          <b class="end-text" style="color:#c8c8c8!important;">프로젝트가 종료되었습니다.</b>
        </span>
      </div>
      <!-- <p class="summary" [innerHTML]="projectSummary"></p> -->
      <!-- <h5>{{projectRegistrationDate | amDateFormat: 'YYYY-MM-DD'}} 에 작성됨</h5> -->
      <h6 class="m-t-40">* 이 콘텐츠의 저작권은 모두 포텐브라더스가 소유하고 있습니다.</h6>

    </ion-slide>

    <ion-slide class="story-content-slide" *ngFor="let projectStorySlide of projectStorySlides">
      <img [src]="projectStorySlide.storyImage" (click)="photoView(projectStorySlide.storyImage)" tappable/>
      <div class="video-container" *ngIf="projectStorySlide.storyVideo">
        <iframe width="100%" [src]="projectStorySlide.storyVideo | youtube" class="slide-video" frameborder="0" allowfullscreen></iframe>
      </div>
      <p text-left class="story-content-slide-content pre-line">{{projectStorySlide.storyContent}}</p>
    </ion-slide>

    <ion-slide padding class="project-last-slide">
      <ion-buttons class="slide-title-wrapper last-slide-title-wrapper">
        <button ion-button clear (click)="goFirstSlide()">
          <h1 class="title">&lt; 스토리 다시보기</h1>
        </button>
      </ion-buttons>
      <div class="project-last-slide-wrapper">
        <h2 class="story-name">{{projectName}}</h2>
        <ion-item class="avatar-span-wrapper item-flex">
          <h3>by. {{nickname}}</h3>
        </ion-item>
      </div>
      <button ion-button block outline class="m-b-15" *ngIf="isLink" (click)="openAdminProjectLinkPage()">테스트 링크</button>
      <button ion-button block outline class="m-b-15" (click)="updatePrivateState()">{{(isPrivate) ? '비공개' : '공개'}}</button>
      <button ion-button block outline (click)="terminateProject()">{{(isTermination) ? '종료' : '진행중'}}</button>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer class="story-footer">
  <progress-bar [progress]="progressPercent"></progress-bar>
  <ion-navbar hideBackButton="true">
    <ion-buttons class="story-back-button" start>
      <button ion-button (click)="back()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-item class="avatar-span-wrapper item-flex" *ngIf="isFirstSlide">
      <span item-start class="avatar-image avatar-span cropper">
        <img class="avatar-span-image" [src]="projectMainImage" />
      </span>
      <h3>{{nickname}}</h3>
    </ion-item>
    <ion-item *ngIf="!isFirstSlide" start class="bar-item-wrapper item-flex page-num">
      <ion-icon name="ios-browsers-outline" item-start></ion-icon>
      <p>{{currentPageNum}} / {{totalPageNum}}</p>
    </ion-item>
    <ion-buttons class="bar-end-buttons" end>
      <button ion-button>
        <ion-icon name="ios-eye-outline" item-start></ion-icon>
        <p>{{projectViewNum}}</p>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-footer>