page-user-project-filter-result {
    ion-buttons[start] {
        order: 1;
    }

    ion-content {
        background-color: rgba(38,38,38,0.2) !important;
    }
    .scroll-content {
        margin-top: 0 !important;
    }

    .toolbar-ios {
        padding-top: calc(20px + 4px);
        min-height: calc(44px + 20px);
    }

    ion-header,
    .filter-wrapper {
        position: relative;
        background-color: #fff;
    }
    // .filter-wrapper {
    //     padding-top: 64px;
    // }

    ion-header .bar-buttons {
        padding-left: 16px;
    }

    .active-button-wrapper,
    .inactive-button-wrapper {
        display: flex;
        padding: 0px 16px;
    }

    .active-button-wrapper {
        padding-bottom: 10px;
    }

    .inactive-button-wrapper {
        padding-top: 10px;
        border-top: 1px solid #f0f0f0;
    }

    .active-button-wrapper ion-buttons,
    .inactive-button-wrapper ion-buttons {
        display: inline-flex;
        overflow-x: scroll;
    }

    .active-button-wrapper ion-buttons .button,
    .inactive-button-wrapper ion-buttons .button {
        height: 2.2em;
        font-size: 1.3rem;
        font-weight: 500;
        margin-right: 0.5rem;
    }

    .inactive-button {
        color: #ff6400;
    }

    .active-button-wrapper ion-buttons .button {
        color: #6f6f6f;
    }

    .active-button-wrapper ion-icon {  
        color: #d3d3d3;
        padding-left: 5px;
        font-size: 1.3rem;
    }

    .shadow-top {
        position: relative;
    }

    .button-md {
        overflow: initial;
    }

    .filter-result-content {
        height: 100%;
        background-color: #fff;
    }

    .empty-filter {
        margin: 0.4rem 0;
        padding: 0 1em;
        height: 2.2em;
        font-size: 1.3rem;
        color: #d3d3d3;
    }

    .outer-content {
        height: 100%;
        background-color: #F0F0F0;
        padding-top: 20px;
    }

    .outer-content .card {
        margin-top: 0;
    }

    .inactive-all {
        color: #d3d3d3 !important;
        font-weight: bold !important;
    }
    .active-all {
        color: #ff6400 !important;
        font-weight: bold !important;
    }
}
