page-user-home {
    ion-slides {
        height: auto;
    }

    .feed100-intro-slide-wrapper {
        position:absolute;
        top:0;right:0;bottom:0;left:0;
        display:flex;
        align-items:center;
        justify-content:center;

        display:-webkit-flex;
        -webkit-align-item:center;
        -webkit-justify-content:center;
        color: #fff;
    }

    .feed100-intro-slide-wrapper h5 {
        font-size: 2.5rem;
    }

    .feed100-intro-slide-wrapper p {
        font-size: 1.3rem;
        line-height: 1.4;
    }

    .feed100-intro-slides .swiper-pagination-bullet {
        background-color: transparent;
        border: 2px solid #fff;
    }

    .feed100-intro-slides .swiper-pagination-bullet-active {
        background-color: #FE6B01 !important;
        border: 2px solid #FE6B01;
    }

    .home-group-title {
        width: 100%;
        padding: 10px 20px;
        background-color: #fff;
        font-weight: bold;
        color: #383838;
        font-size: 1.4rem;
    }

    .project-card {
        width: calc(100% - 32px);
        // margin: 10px 15px;
    }

    .header {
        background-color: #fff;
    }
}

.empty-inner {
    width: 100%;
    color: #383838;
    font-size: 1.3rem;
    color: #d8d8d8;
    padding: 40px 16px;
}

.empty-inner .button-clear {
    font-size: 1.2rem;
    color: #FE6B01;
}

// 뉴스피드 카드 css
    .newsfeed-card {
        width: calc(100% - 32px);
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .newsfeed-card img {
        border-radius: 8px;
    }

    .newsfeed-card .card-content {
        padding: 5px 7px;
        font-size: 1.3rem;
    }
// css end

// 프로젝트 카드 css
    .project-card-main-image-wrapper {
        position: relative;
    }

    .project-card-overlay-wrapper {
        position:absolute;
        top:0;right:0;bottom:0;left:0;
        display:flex;
        align-items:flex-end;
        justify-content:center;
        width: 100%;

        display:-webkit-flex;
        -webkit-align-item:flex-end;
        -webkit-justify-content:center;
        color: #fff;
    }

    .project-card-overlay {
        width: 100%;
        padding: 5px 16px;
        background: #595959; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(transparent, #595959); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(transparent, #595959); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(transparent, #595959); /* For Firefox 3.6 to 15 */
        background: linear-gradient(transparent, #595959); /* Standard syntax */
    }

    .project-card-overlay-item {
        color: #fff;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .project-card .card-title {
        padding-left: 16px;
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    // 회사명 / 팀명
    .project-card .item-block {
        min-height: auto;
    }

    .project-card .avatar-span {
        min-width: 1.5rem;
        min-height: 1.5rem;
    }

    .project-card .avatar-span .avatar-span-image {
        width: 1.5rem;
        height: 1.5rem;
    }

    // .project-card .avatar-span {
    //     margin-top: 0.1rem !important;
    // }

    // .project-card ion-label {
    //     margin-top: 0.2rem !important;
    // }

    .project-card .label-md {
        margin: 3px 8px 3px 0;
    }

    .project-card ion-label p {
        font-size: 1.1rem;
    }

    .project-card .item {
        margin-bottom: 10px;
        padding-left: 20px
    }

    .project-card .card-content {
        padding: 16px 20px;
        height: 88px;
        line-height: 1.4;
    }

    .project-card .project-card-name,
    .project-card .project-card-summary {
        font-size: 13px;
        color: #383838;
    }

    .project-card .project-card-name {
        font-weight: 600;
    }

    .project-card .project-card-summary {
        color: #727272;
    }
// css end

.outer-content {
    background-color: #F0F0F0;
}

$font-size: 13px;
$line-height: 1.4;
$lines-to-show: 4;

.card-div {
    margin: 12px 12px 24px 12px;
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0), 0 10px 10px rgba(0,0,0,0.1);
    border-radius: 10px;

    .project-card-overlay {
        height: 100%;
        background: linear-gradient(rgba(0,0,0,0.2), transparent); /* Standard syntax */
        justify-content: flex-end;
        align-items: baseline;
        display: flex;
        padding:0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        
        .project-card-overlay-item {
            display: inline-block;
            line-height: 1;
            padding: 9px 14px;
            font-size: 1.3rem;
            font-weight: bold;
            margin: 10px;
            border-radius: 5px;
        }
    }

    .project-card-main-image-wrapper {
        img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        line-height: 0 !important;
    }
    .project-card-name {
        margin-bottom: 8px;
        font-size: 14px !important;
    }

    .project-card-summary {
        margin-top: 0px;
        margin-bottom: 24px;

        display: block; /* Fallback for non-webkit */
        display: -webkit-box;
        height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
        font-size: $font-size;
        line-height: $line-height;
        -webkit-line-clamp: $lines-to-show;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .project-state-wrapper {
        margin-top: 24px;
        color: #a8a8a8;
        font-size: 1.2rem;
        display:flex;
        align-items:center;
        justify-content:baseline;
        line-height: 1 !important;
        height: 23px;
    }

    
    .project-state-icon img {
        width: 21px;
        // margin-right: 7px;
    }
    
    .project-state-wrapper span {
        padding-right: 7px;
    }

    .card-content {
        height: auto !important;
        padding: 28px 24px;
        // border-left: 1.2px solid #e2e2e2;
        // border-right: 1.2px solid #e2e2e2;
        // border-bottom: 1.2px solid #e2e2e2;
    }

    .card-overlay-bottom {
        height: 20%;
        top: unset;
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    }

    .end-text {
        font-weight: bold !important;
        color: rgb(63,63,63);
    }
}

.home-group-title {
    background-color: transparent !important;
    margin-top: 12px;
    padding-bottom: 0 !important;
}

.swiper-slide .card-div {
    margin: 12px 16px 24px 16px;
}

// 종료
.e-card-tag {
    background: rgba(63,63,63,0.8);
}

// 마이 프로젝트
.m-card-tag {
    background: rgba(30,167,69,0.7);
}

// FULL
.f-card-tag {
    background: rgba(63,63,63,0.8);
}

// 임박
.i-card-tag {
    background: rgba(255,60,0,0.6);
}

// 진행
.p-card-tag {
    background: rgba(253,186,2,0.7);
}

.dark-progress-bar .progress-inner {
    background-color: rgb(63,63,63);
}

.project-state-wrapper b {
    font-weight: normal !important;
}