page-user-home {
    ion-slides {
        height: auto;
    }

    .feed100-intro-slide-wrapper {
        position:absolute;
        top:0;right:0;bottom:0;left:0;
        display:flex;
        align-items:center;
        justify-content:center;

        display:-webkit-flex;
        -webkit-align-item:center;
        -webkit-justify-content:center;
        color: #fff;
    }

    .feed100-intro-slide-wrapper h5 {
        font-size: 2.5rem;
    }

    .feed100-intro-slide-wrapper p {
        font-size: 1.3rem;
        line-height: 1.4;
    }

    .feed100-intro-slides .swiper-pagination-bullet {
        background-color: transparent;
        border: 2px solid #fff;
    }

    .feed100-intro-slides .swiper-pagination-bullet-active {
        background-color: #FE6B01 !important;
        border: 2px solid #FE6B01;
    }

    .home-group-title {
        width: 100%;
        padding: 10px 20px;
        background-color: #fff;
        font-weight: bold;
        color: #383838;
        font-size: 1.4rem;
    }

    .project-card {
        width: calc(100% - 30px);
        // margin: 10px 15px;
    }

    .header {
        background-color: #fff;
    }
}

.empty-inner {
    width: 100%;
    color: #383838;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 16px;
}

.empty-inner .button-clear {
    font-size: 1.1rem;
    color: #FE6B01;
}

// 뉴스피드 카드 css
    .newsfeed-card {
        width: calc(100% - 30px);
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .newsfeed-card img {
        border-radius: 8px;
    }

    .newsfeed-card .card-content {
        padding: 5px 7px;
        font-size: 1.1rem;
    }
// css end

// 프로젝트 카드 css
    .project-card-main-image-wrapper {
        position: relative;
    }

    .project-card-overlay-wrapper {
        position:absolute;
        top:0;right:0;bottom:0;left:0;
        display:flex;
        align-items:flex-end;
        justify-content:center;
        width: 100%;

        display:-webkit-flex;
        -webkit-align-item:flex-end;
        -webkit-justify-content:center;
        color: #fff;
    }

    .project-card-overlay {
        width: 100%;
        padding: 5px 16px;
        background: #595959; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(transparent, #595959); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(transparent, #595959); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(transparent, #595959); /* For Firefox 3.6 to 15 */
        background: linear-gradient(transparent, #595959); /* Standard syntax */
    }

    .project-card-overlay-item {
        color: #fff;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .project-card .card-title {
        padding-left: 16px;
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    // 회사명 / 팀명
    .project-card .item-block {
        min-height: auto;
    }

    .project-card ion-avatar,
    .project-card ion-avatar img {
        min-width: auto;
        min-height: auto;
        width: 1.1rem;
        height: 1.1rem;
    }

    .project-card ion-avatar,
    .project-card ion-label, {
        margin-top: 0.1rem !important;
    }

    .project-card .label-md {
        margin: 3px 8px 3px 0;
    }

    .project-card ion-label p {
        font-size: 1.1rem;
    }

    .project-card .item {
        margin-bottom: 10px;
    }

    .project-card .card-content {
        padding: 10px 16px;
        height: 75px;
        line-height: 1.4;
    }

    .project-card .project-card-name,
    .project-card .project-card-summary {
        font-size: 13px;
        color: #383838;
    }

    .project-card .project-card-name {
        font-weight: 600;
    }

    .project-card .project-card-summary {
        color: #727272;
    }
// css end

.outer-content {
    background-color: #F0F0F0;
}