page-user-project-opinion-writing-editor {

}

.bold {
    font-weight: bold;
}

.padding-right4 {
    padding-right: 4px;
}


.editor-content-header {
    font-size: 1.3rem;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    display: flex;
    height: 4.4rem;

    .header-label {
        align-items:center;
        justify-content:center;

        display:-webkit-flex;
        -webkit-align-item:center;
        -webkit-justify-content:center;

        color: #383838;
        padding-left: 16px;
    }

    .empathy-radio-group {
        display: flex;
        margin-bottom: 0;
        position: absolute;
        right: 16px;

        .radio-icon {
            display: none !important;
        }

        ion-radio {
            margin: 0 !important;
        }

        .item.item-radio ion-label {
            color: #ddd;
            font-size: 1.3rem !important;
            white-space: unset;
            margin: 0;
            font-weight: bold;
            width: 4rem;
        }

        .item-radio-checked.item ion-label {
            color: #ff6400 !important;
            white-space: unset;
            overflow: unset;
        }

        .item, .item-inner {
            border: 0 !important;
            padding: 0 !important;
        }
    }
}