page-admin-project-side-menu {
    .outer-content {
        background-color: #fff !important;
    }
    .avatar-span-wrapper {
        p {
            font-size: 1.3rem !important;
            color: #d8d8d8;
            margin-top: 8px !important;
            margin-bottom: 0;
            font-weight: bold;
        }

        h3 {
            font-size: 1.6rem !important;
            margin-top: 5px !important;
            color: #fff;
            font-weight: bold;
            width: 80% !important;
            margin: 0 auto;
            padding: 0 16px;
            white-space: initial;
        }
    }
    .side-menu-project-info {
        font-size: 11px;
        color: #fff;
        background-color: #efeff4;
        .item {
            font-size: 13px;
            font-weight: bold;
            color: #ff6400;
            width: fit-content;
            margin-bottom: 0 !important;
            p {
                color: #787878;
                font-size: 11px;
            }
            .label {
                margin: 0 !important;
            }
            .item-inner {
                border-bottom: 0 !important;
            }
        }
        .project-feedback-item {
            float: right;
            padding-right: 16px;
        }
        ion-avatar img {
            height: 32px !important;
            width: 32px !important;
        }
        .item ion-avatar {
            min-width: 32px;
            min-height: 32px;
        }
    }
    .side-menu-list {
        ion-avatar img {
            height: 50px !important;
            width: 50px !important;
        }
    }
    .list-md {
        border-top: 1px solid #dedede;
    }

    .list-ios > .item-block:last-child {
        border-bottom: 0 !important;
    }
}
