<!--
  Generated template for the UserProjectHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header class="project-header-wrapper">
  <ion-navbar hideBackButton="true">
    <ion-buttons start>
      <button class="dismiss-button" ion-button (click)="dismiss()" icon-only>
        <ion-icon name="close"></ion-icon>              
      </button>
    </ion-buttons>
    <ion-title>
      <span class="project-header-title-wrapper">
        <span class="project-header-title">
          {{projectName | slice:0:15}}
        </span>
        <span class="slice-tag" *ngIf="projectName.length > 15"> ...</span>
      </span>
    </ion-title>
    <ion-buttons end> 
      <button class="menu-button" ion-button icon-only (click)="openUserProjectSideMenuPage()">
        <ion-icon name="menu"></ion-icon>
      </button>
     </ion-buttons> 
  </ion-navbar>
</ion-header>

<ion-content class="project-home-content-wrapper" #contentRef (ionScroll)="scrollingFun($event)">
  <div tappable class="project-card-main-image-wrapper" (click)="openUserProjectStoryPage()">
    <div class="shadow-header-top"></div>
    <img [src]="projectMainImage" />

    <div class="project-card-overlay-wrapper">
      <span text-center class="project-card-overlay">
        <span class="project-card-overlay-item">
          <ion-icon name="md-film"></ion-icon>스토리 보러가기
        </span>
      </span>
    </div>
  </div>
  <div class="project-home-content">
    <h1 [innerHTML]="projectName"></h1>
    <ion-item class="avatar-span-wrapper item-flex">
      <span item-start class="avatar-image avatar-span">
        <div class="avatar-span-image" [style.backgroundImage]="'url(' + avatarImage + ')'"></div>
      </span>
      <h3>{{nickname}}</h3>
    </ion-item>
    <p class="summary">{{projectSummary}}</p>
    <div class="participant-wrapper">
      <span>{{progressState}}</span>
      <span float-right>{{participantNum}} / {{maxParticipantNum}} <small>({{progressPercent}}%)</small></span>
    </div>
    <progress-bar [progress]="progressPercent"></progress-bar>
    <div *ngIf="isLink">
      <button class="open-link-button" ion-button (click)="openUserProjectLinkPage()">링크</button>
    </div>
    <div class="shadow-top"></div>
  </div>

  <div class="outer-content">
    <!-- <ion-item class="feedbacks-header">
        <ion-label>FEEDBACKS {{participantNum}}</ion-label>
      
        <ion-select class="filter-selector" [(ngModel)]="filterFeedback" (ionChange)="selectChange()" interface="popover">
          <ion-option value="defaultSelectOption" checked="true">Filter</ion-option>   
          <ion-option [value]="filter.value" *ngFor="let filter of filters" [selected]="filter.value == filterFeedback">{{filter.option}}</ion-option>
        </ion-select>
      
    </ion-item> -->
    <div class="feedbacks-header">
      <span class="header-name">피드백 {{participantNum}}</span>
      <button ion-button (click)="openUserProjectFilterPage()"><ion-icon name="md-funnel"></ion-icon>Filter</button>
    </div>
    <div text-center *ngIf = "!feedbacks.length" class="empty-inner">
      <ion-icon name="text"></ion-icon>
      <p>등록된 피드백이 없습니다.</p>
    </div>
    <ion-card class="feedback-card" *ngFor="let feedback of feedbacks"> 
      <ion-card-header>
        <ion-item class="avatar-span-wrapper item-flex">
          <span item-start class="avatar-image avatar-span">
            <div class="avatar-span-image" [style.backgroundImage]="'url(' + feedback.avatarImage + ')'"></div>
          </span>
          <h3>
            <span class="best-badge" *ngIf="feedback.isBest">
              <span>BEST</span>
            </span>{{feedback.nickname}}
            <span float-right class="empathy-wrapper">
              <span><span class="text-empathy">공감</span> {{feedback.empathyNum}}</span>
              <span><span class="text-nonempathy">비공감</span> {{feedback.nonEmpathyNum}}</span>
            </span>
          </h3>
          <p [innerHTML]="feedback.feedbackRegistrationDate"></p>
        </ion-item>
      </ion-card-header>
      <ion-card-content class="feedback-content">
        <div tappable (click)="openUserProjectFeedbackPage()">
          {{feedback.feedbackContent | slice:0:100}}
          <span class="slice-tag" *ngIf="feedback.feedbackContent.length > 100"> ...</span>
          <div class="feedback-more-button">피드백 자세히 보러가기 ></div>
        </div>
        <div class="hashtag-wrapper">
          <span tappable ion-button outline *ngFor="let hashTag of feedback.hashTags" (click)="openUserProjectFilterResultPage(hashTag)" >
            #{{hashTag.option}}
          </span>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="openUserProjectInterviewDetailPage()"><ion-icon name="text"></ion-icon></button>
    <ion-badge item-end *ngIf="isInterview > 0">N</ion-badge>
  </ion-fab>
</ion-content> 
