page-user-project-home {
    .toolbar-title {
        padding-left: 0 !important;
        .item-ios {
            padding-left: 0 !important;
        }
    }
    
    .project-card-main-image-wrapper {
        z-index: 1;
        display: grid;
        border-bottom: 0.55px solid #d7d7d7;
    }

    .bar-button-menutoggle {
        margin: 0;
    }

    .shadow-header-top {
        position: absolute;
        height: 64px;
        width: 100%;
        background: rgba(38,38,38,0.8); /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(rgba(38,38,38,0.8), transparent); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(rgba(38,38,38,0.8), transparent); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(rgba(38,38,38,0.8), transparent); /* For Firefox 3.6 to 15 */
        background: linear-gradient(rgba(38,38,38,0.8), transparent); /* Standard syntax */
    }

    .bar-buttons-ios .dismiss-button ion-icon {
        font-weight: bold;
    }

    ion-buttons[start] {
        order: 1;
    }

    // .bar-button {
    //     color: #fff;
    // }

    .project-card-overlay {
        padding-bottom: 10px;
        background: rgba(38,38,38,0.3); /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(transparent, rgba(38,38,38,0.3)); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(transparent, rgba(38,38,38,0.3)); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(transparent, rgba(38,38,38,0.3)); /* For Firefox 3.6 to 15 */
        background: linear-gradient(transparent, rgba(38,38,38,0.3)); /* Standard syntax */
    }

    ion-content {
        position: relative !important;
    }

    // .scroll-content {
    //     height: 100%;
    //     // margin-top: 0 !important;
    // }


    .project-card-overlay-item {
        padding: 3px 16px;
        border-radius: 50px;
        border: 0.55px solid #eee;
        margin: 0 auto;
        color: #595959;
        font-size: 1rem;
        font-weight: bold;
        background-color: rgba(255,255,255,0.9);
    }

    .project-card-overlay-item ion-icon {
        padding-right: 5px;
    }

    // .project-home-content .progress-state {
    //     color: #585858;
    //     position: absolute;
    //     bottom: -11.5px;
    //     right: 16px;
    //     font-size: 13px;
    //     font-weight: 500;
    //     background-color: #fff;
    //     padding: 3px 16px;
    //     border-radius: 2px;
    //     -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    //     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    // }

    // 프로젝트 내용

    .item.item-block .item-inner {
        border-bottom: 0;
    }



    .summary {
        font-size: 1.4rem;
        color: #686868;
        line-height: 1.5;
        margin-bottom: 30px;
        margin-top: 8px;
        font-weight: 500;
    }



    .outer-content {
        width: 100%;
        height: fit-content;
        padding-top: 1px;
        // display: inline-table;
    }

    .outer-content .card {
        margin-top: 0;
    }

    .empty-inner {
        max-width: 100%;
    }

    .empty-inner p {
        font-size: 1.6rem;
        color: #c8c8c8;
    }

    .empty-inner ion-icon {
        color: #c8c8c8;
    }
}

.project-header-wrapper {
    background-color: #fff;
    border-bottom: 1px solid #c8c8c8;
}

// .project-home-content-wrapper {
//     background-color: rgba(38,38,38,0.2);
// }

.project-header-wrapper ion-title.title-ios {
    // display: none;
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.project-header-wrapper ion-title.title-ios .toolbar-title {
    justify-content: baseline;
}

.project-header-title-wrapper {
    margin: 0 auto;
}

.project-header-title-wrapper span {
    color: #595959;
    font-size: 1.3rem;
}

.project-home-content h1 {
    font-size: 2rem;
    margin: 0;
    margin-bottom:24px;
    color: #383838;
    font-weight: bold;
}

.project-header-wrapper .avatar-span-wrapper.item-md {
    padding-left: 0 !important
}

.project-header-wrapper .avatar-span-wrapper .label-md {
    margin: 0 !important;
}

.project-header-wrapper .avatar-span-wrapper h3 {
    font-size: 1.2rem;
    color: #424242;
    font-weight: bold
}

.project-header-wrapper .avatar-span-wrapper h5 {
    font-size: 1rem;
    color: #888;
}

.project-header-wrapper .avatar-span-wrapper .item-inner {
    padding-left: 2px;
}

.project-header-wrapper .avatar-span-wrapper .avatar-span {
    min-height: 1.8em;
    min-width: 1.8em;
    margin-right: 8px;
}

.project-header-wrapper .avatar-span-wrapper .avatar-span .avatar-span-image {
    height: 1.8em;
    width: 1.8em;
}

.project-home-content {
    padding: 35px 25px !important;
    display: block;
    position: relative;
    background-color: #fff;

    .project-state-wrapper {
        margin-top: 24px;
        color: #787878;
        font-size: 1.2rem;
        display:flex;
        align-items:center;
        justify-content:baseline;
        line-height: 1 !important;
        height: 23px;
    }

    
    .project-state-icon img {
        width: 21px;
        // margin-right: 7px;
    }
    
    .project-state-wrapper span {
        padding-right: 7px;
    }
}

.slice-tag {
    color: #000;
    font-weight: bold;
}

.project-home-content .participant-wrapper {
    margin-bottom: 3px;
}

.project-home-content .participant-wrapper span {
    font-size: 1.2rem;
    color: #585858;
    font-weight: bold;
    display: inline-block;
}

.project-home-content .participant-wrapper span small {
    color: #a8a8a8;
    font-weight: normal;
}

.project-home-content .open-link-button {
    width: 100%;
    margin: 0;
    margin-top: 25px;
    height: 3.4rem;
    font-size: 1.3rem;
}

 .shadow-top {
    position: absolute;
    height: 10px;
    bottom: -10px;
    right: 0;
    width: 100%;
    z-index: 1;
    background: rgba(38,38,38,0.1); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(38,38,38,0.1), transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(38,38,38,0.1), transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(38,38,38,0.1), transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(38,38,38,0.1), transparent); /* Standard syntax */
}

.feedbacks-header {
    margin: 0;
    padding: 24px 17px 20px 17px;
    display: flex;
}

.feedbacks-header .header-name {
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
    color: #888;
    top: 5px;
}

.feedbacks-header .header-name.user-ui {
    top: 1px;
}

.feedbacks-header .button {
    height: auto;
    margin: 0;
    position: absolute;
    right: 17px;
    padding: 0;
    background: #dfdfdf;
    color: #FE6B01;
    padding: 4px 12px;
}

.feedbacks-header .button ion-icon {
    padding-right: 8px;
    color: #a8a8a8;
}


.feedbacks-header .button.activated {
    background: #FE6B01;
    color: #fff;
}

.feedbacks-header .button.activated ion-icon {
    color: #fff;
}

.feedbacks-header .feedback-list-button {
    font-size: 1.3rem;
    padding: 3px 16px;
}

.feedbacks-header .feedback-list-button ion-icon {
    margin-left: 5px;
    padding-right: 0;
}


.radio-md .radio-inner {
    top: 3px;
}

.radio-md .radio-icon {
    height: 16px;
    width: 16px;

}

.feedback-card {
    margin: 5px 12px 20px 12px ;
    background-color: #fff !important;
    border-radius: 8px;
    border: 1px solid #d8d8d8;
}

.feedback-card .card-header {
    padding: 15px 18px 0 18px;
}

.feedback-card .feedback-summary,
.feedback-comment,
.opinion-content {
    white-space: pre-line !important;
    line-height: 1.6;
}

.feedback-card .feedback-summary,
.opinion-content {
    margin-top: -12px;
}
.feedback-card .feedback-content {
    padding-top: 10px !important;
    padding-bottom: 30px !important;
    font-size: 1.3rem;
    color: #383838;
}

.feedback-card .avatar-span-wrapper {
    padding-left: 0;
    width: 100% !important;
}

.feedback-card .avatar-span-wrapper .item-inner {
    display: block;
}

.feedback-card .avatar-span-wrapper h3 {
    color: #383838;
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    align-items: left;
}

.feedback-card .avatar-span-wrapper p {
    color: #787878;
    font-size: 1.1rem;
}

.feedback-card .avatar-span {
    min-height: 3.8rem;
    min-width: 3.8rem;
    margin-right: 8px;
}

.feedback-card .avatar-span .avatar-span-image {
    height: 3.8rem;
    width: 3.8rem;
}

.feedback-card .hashtag-wrapper {
    padding-top: 0;
}

.empathy-wrapper {
    font-size: 1.1rem;
    position: absolute;
    right: 16px;
}

.empathy-wrapper .text-empathy {
    color: #FE6B01;
}

.empathy-wrapper .text-nonempathy {
    color: #787878;
    padding-left: 8px;
}

.project-home-content-wrapper {
    .card-overlay-top {
        height: 100%;
        background: linear-gradient(rgba(0,0,0,0.2), transparent); /* Standard syntax */
        justify-content: flex-end;
        align-items: baseline;
        display: flex;
        padding:0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .project-card-overlay {
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.2));
        padding-bottom: 10px;
        padding-top: 10px;
    }
}

.project-home-content-wrapper .fab {
    overflow: visible;
    bottom: 10px;
    right: 10px;
    background-color: #FF8C3E;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.project-home-content-wrapper .fab .button-inner {
    overflow: visible;
}


.project-home-content-wrapper .fab ion-icon {
    font-size: 3.7rem;
}

.project-home-content-wrapper .fab-in-list ion-icon {
    font-size: 2.4rem !important;
}

.project-home-content-wrapper .fab-list-active .badge {
    top: -5px;
    right: 10px; 
}

.project-home-content-wrapper .fab-list-active .fab {
    background-color: #ff9d5b;
}

.project-home-content-wrapper .fab-list-active .fab.disable-fab {
    background-color: rgba(255, 157, 91, 0.8);
}

.fab-label {
    position: absolute;
    background: #c8c8c8;
    color:#383838;
    height: 24px;
    line-height: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
}

.fab-label-report {
    right: 50px; /* Custom for each label */
}

.project-home-content-wrapper ion-badge {
    position: absolute;
    padding: 4px 6px;
    top: -10px;
    right: 5px;
    font-size: 1.2rem;
    background-color: #f53d3d;
}

.feedback-card h3 {
    position: initial;
    margin-bottom: 2px;
    line-height: 1.4;
}

.best-badge {
    padding: 1px 8px;
    padding-top: 2px;
    background-color: #FE6B01;
    border-radius: 50px;
    display: inline-flex;
    position: relative;
    margin-right: 3px;
    line-height: 1.4;
    
}

.best-badge span {
    font-size: 10px;
    font-weight: bold;
    color: #fff;
}

.feedback-card .feedback-more-button {
    font-weight: bold;
    color: #383838;
    margin-top: 8px;
    font-size: 1.1rem;
}

.feedback-card .item-block .item-inner {
    border-bottom: 0 !important;
}

.hashtag-wrapper span {
    font-size: 1.1rem;
    margin: 0;
    margin-right: 8px;
    // border: 0;
}

.hashtag-wrapper span.button {
    margin-top: 0;
    height: 2em;
    border: 1px solid #FF8A3B;
}