page-user-project-report {
    .project-user-report-content {
        background-color: rgba(0,0,0,0.85);
    }
    .project-header-title {
        color: #fff;
    }
    .bar-button.dismiss-button {
        color: #c8c8c8;
    }
    .user-report-card {
        margin-bottom: 18px;
    }
}
