page-user-project-report {
    .project-user-report-content {
        background-color: rgba(0,0,0,0.85);
    }
    .project-header-title {
        color: #fff;
    }
    .bar-button.dismiss-button {
        color: #c8c8c8;
    }
    .user-report-card {
        border-radius: 9px;
        margin-bottom: 18px;
    }
}


.report-card-header {
    .avatar-image {
        min-width: 2.4em;
        min-height: 2.4em;
        .avatar-span-image {
            width: 2.4em;
            height: 2.4em;
        }
    }
}