page-company-project-group-interview-question-editor {
    .question-wrapper {
        color: #787878 !important;
        font-size: 1.2rem !important;
    }
    .point-notice {
        font-size: 1.5rem !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .complete-button {
        color: #ff6700 !important;
    }
    .divider {
        background-color: rgba(55,55,55,0.8);
        width: 80%;
        margin: 0 auto;
        height: 0.55px;;
    }
    .help-wrapper h2 {
        font-size: 1.4rem !important;
    }

    .toolbar-title-ios {
        align-items: center;
    }
    .help-btn {
        position: relative;
        margin-top: 1px !important;
        margin-left: 10px;
    }
}

.interview-link-btn {
    font-size: 1.4rem;
    display: inline-block;
    color: #fff;
    background-color: rgba(248, 186, 0, 0.3);
    border-radius: 100px;
    padding: 8px 16px;
    font-weight: bold;
    box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.1);
    border: 1px solid rgba(248, 186, 0, 1);
}