<!--
  Generated template for the CompanyInterviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>인터뷰</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="tab-top-notice">
    공지사항
    <button class="accordion-button" float-right (click)="accordion()">
      <ion-icon name="ios-arrow-down" *ngIf="!activeAccordion"></ion-icon>
      <ion-icon name="ios-arrow-up" *ngIf="activeAccordion"></ion-icon>
    </button>
  </div>
  <div class="subNotice" *ngIf="activeAccordion">
    <p>- 인터뷰를 할때 지켜야할 약속</p>
    <p>- 인터뷰 진행 방식</p>
    <p>- 인터뷰를 안할시 처벌 규정</p>
  </div>
  <ion-list>
    <ion-item tappable float-left class="interview-item avatar-span-wrapper item-flex" *ngFor="let projectInterview of projectInterviews" (click)="openCompanyProjectInterviewPage(projectInterview.project_participant_id, progressState.innerHTML)">
      <span item-start class="avatar-image avatar-span">
        <div class="avatar-span-image" [style.backgroundImage]="'url(' + projectInterview.project_main_image + ')'"></div>
      </span>
      <h2 [innerHTML]="projectInterview.project_name"></h2>
      <!-- 문구 수정... -->
      <p>총 {{projectInterview.max_company_interview_num}}개의 인터뷰 중 {{projectInterview.total_company_interview_num}}개 이용</p>
      <div item-end class="interview-item-end">
        <ion-note #progressState [innerHTML]="projectInterview.project_end_date | amLocale:'ko' | amTimeAgo | progressState"></ion-note>
        <div class="badge-new" *ngIf="!projectInterview.interview_response && (projectInterview.project_end_date | amLocale:'ko' | amTimeAgo | progressState) != '종료'">N</div>
        <div class="blank-badge-new" *ngIf="projectInterview.interview_response || (projectInterview.project_end_date | amLocale:'ko' | amTimeAgo | progressState) == '종료'">0</div>
      </div>
    </ion-item>
  </ion-list>

</ion-content>
