// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-spinner {
    width: 100px;
    height: 100px;
}

ion-spinner {
    svg:nth-child(1) {
        left: 25px !important;
    }
    svg:nth-child(2) {
        left: 0px !important;
    }
    svg:nth-child(3) {
        left: -25px !important;
    }
}

.cropper {
    overflow: hidden;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

// 패드용 모달
@media only screen and (min-height: 600px) and (min-width: 768px) {
    .modal-wrapper {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

// 어드민 key id 값
.key-tag {
    color : rgb(255, 0, 212);
}

// 데이터 비어있는 화면
.empty-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        font-size: 1.5rem;
    }

    .grey-text {
        color: #d8d8d8;
    }

    .dark-text {
        color: #989898;
    }

    .dark-trans-text {
        color: rgba(152,152,152,0.8);
    }
    
    .empty-button {
        position: absolute;
        margin-top: 32px;
        font-weight: bold;
    }

    .icon {
        font-size: 2rem;
    }
}

.empty-content.content-absolute {
    position:absolute;
    top:0;bottom:0;right:0;left: 0;
}

.empty-inner.white-bg {
    background-color: #fff !important;
    background: #fff !important;
}

// 피드백 메인 텍스트 색상
.feed100-text {
    color: #ff6700;
}

// height value
.h-0 {
    height: auto !important;
}

.h-200 {
    height: 200px;
}

// margin value
.m-t-60 {
    margin-top: 60px !important;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-t-15 {
    margin-top: 15px !important;
}

.m-l-15 {
    margin-left: 15px !important;
}

.m-b-15 {
    margin-bottom: 15px !important;
}

.m-16 {
    margin: 16px !important;
}

.m-r-16 {
    margin-right: 16px !important;
}

// padding value
.p-b-16 {
    padding-bottom: 16px !important;
}

// text type
.pre-line {
    word-break: break-all !important;
    word-wrap: break-word !important;
    white-space: pre-line !important;
}

.nowrap {
    word-break: break-all !important;
    word-wrap: break-word !important;
    white-space: nowrap !important;
}

.line-height-1 {
    line-height: 1 !important;
}

// item style
.item h2, .item h3 {
    text-overflow: ellipsis;
    overflow: inherit;
}

.item-ios.p-l-30 {
    padding-left: 30px !important;
}

.item-md.p-l-30 {
    padding-left: 16px !important;
}

[padding] h1:first-child, [padding] h2:first-child, [padding] h3:first-child, [padding] h4:first-child, [padding] h5:first-child, [padding] h6:first-child {
    margin-top: 0 !important;
}

// background style
.outer-content {
    background: #f9f9f9 !important;
    background-color: #f9f9f9 !important;
}

// header style
.navbar-border-bottom {
    border-bottom: 1px solid #e8e8e8 !important;
}

// refresher style
.has-refresher .scroll-content {
    border-top: 0 !important;
}

.refresher-pulling-icon, .refresher-refreshing-icon {
    color: #d8d8d8 !important;
}

// configure-page-style //
.config-list .list-header {
    color: #FE6B01 !important;
    font-size: 1.2rem !important;
}

.config-list .list-header-ios {
    color: #787878 !important;
}

.config-list .list-header-md {
    margin-bottom: 0;
}

.config-list .item-ios.item-block {
    background-color: #fff !important;
}

.config-list .item {
    color: #383838;
    font-size: 1.4rem;
}

.config-list .item.item-block .item-inner {
    border-bottom-color: #e7e7e7;
}

.push-alarm-button {
    position: absolute;
    z-index: 99;
    right: 0px;
    height: 3.5em;
    width: 6em;
    background-color: transparent;
}

.push-alarm-button.activated {
    background-color: transparent;
}
// configure-page-style //


