// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-spinner {
    width: 100px;
    height: 100px;
}

ion-spinner {
    svg:nth-child(1) {
        left: 25px !important;
    }
    svg:nth-child(2) {
        left: 0px !important;
    }
    svg:nth-child(3) {
        left: -25px !important;
    }
}

.cropper {
    overflow: hidden;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-height: 600px) and (min-width: 768px) {
    .modal-wrapper {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

.key-tag {
    color : rgb(255, 0, 212);
}

.empty-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        font-size: 1.5rem;
    }

    .grey-text {
        color: #d8d8d8;
    }

    .dark-text {
        color: #989898;
    }

    .dark-trans-text {
        color: rgba(152,152,152,0.8);
    }
    
    .empty-button {
        position: absolute;
        margin-top: 32px;
        font-weight: bold;
    }

    .icon {
        font-size: 2rem;
    }
}

.feed100-text {
    color: #ff6700;
}

.h-0 {
    height: auto !important;
}

.h-200 {
    height: 200px;
}

.m-t-60 {
    margin-top: 60px !important;
}

.m-t-15 {
    margin-top:15px !important;
}

.m-l-15 {
    margin-left: 15px !important;
}

.empty-content.content-absolute {
    position:absolute;
    top:0;bottom:0;right:0;left: 0;
}

.pre-line {
    word-break: break-all !important;
    word-wrap: break-word !important;
    white-space: pre-line !important;
}

.item h2, .item h3 {
    text-overflow: ellipsis;
    overflow: inherit;
}

.p-l-30 {
    padding-left: 30px !important;
}

[padding] h1:first-child, [padding] h2:first-child, [padding] h3:first-child, [padding] h4:first-child, [padding] h5:first-child, [padding] h6:first-child {
    margin-top: 0 !important;
}

.m-r-16 {
    margin-right: 16px !important;
}