page-company-project-interview-writing-editor {
    
    .toolbar-title {
        padding: 0;
        font-size: 1.4rem !important;
    }

    .title-ios {
        padding-right: 34px;
        padding-left: 34px;
    }

    .editor-notice {
        div {
            font-size: 1.3rem;
            color: #383838;
        }
    }
}
