page-admin-project-feedback {
    ion-buttons[start] {
        order: 1;
    }
    .toolbar-ios {
        padding-top: calc(20px + 4px);
        min-height: calc(44px + 20px);
    }

    .toolbar {
        border-bottom: 1px solid #e8e8e8;
    }
    
    .title-ios {
        padding-top: 20px;
        height: calc(44px + 20px);
        min-height: calc(44px + 20px);
    }
    .bar-buttons.bar-buttons-md {
        width: 30px;
    }
    .bar-button {
        color: #424242;
    }

    ion-slides {
        background-color: #000;
    }

    .slide-zoom {
        height: 100%;
    }

    ion-slide {
        overflow: hidden;
    }
    
    .swiper-pagination-bullet {
        background-color: transparent;
        border: 2px solid #fff;
    }

    .swiper-pagination-bullet-active {
        background-color: #FE6B01 !important;
        border: 2px solid #FE6B01;
    }

    .feedback-wrapper .avatar-span-wrapper {
        padding-left: 0;
        width: 100% !important;
        margin-bottom: 8px;
    }

    .feedback-wrapper .avatar-span-wrapper .item-inner {
        display: block;
        border-bottom: 0 !important;
    }

    .feedback-wrapper .avatar-span-wrapper h3 {
        color: #383838;
        font-size: 1.3rem;
        font-weight: bold;
    }

    .feedback-wrapper .avatar-span-wrapper p {
        color: #787878;
        font-size: 1.1rem;
        margin-top: 3px;
    }

    .feedback-wrapper .avatar-span {
        min-height: 3.5rem;
        min-width: 3.5rem;
        margin-right: 10px !important;
    }

    .feedback-wrapper .avatar-span .avatar-span-image {
        height: 3.5rem;
        width: 3.5rem;
    }

    .feedback-comment {
        font-size: 1.3rem;
        color: #5b5b5b;
    }

    .hashtag-wrapper span.button {
        margin-top: 5px;
    }

    .shadow-top {
        position: relative;
        height: 8px;
    }

    .opinions-title {
        font-size: 1.6rem;
        font-weight: bold;
        color: #323232;
        border-bottom: 0.55px solid #eee;
        background-color: #f5f5f5;
    }

    .segment-ios {
        padding: 7px;
        border-bottom: 0.55px solid #eee;
    }

    .segment-ios .segment-button {
        font-size: 1.15rem;
        height: 2.7rem;
        line-height: 2.5rem;
    }

    .segment-md-primary .segment-button {
        color: #787878;
    }

    .opinions ion-label {
        white-space: unset;
    }

    .opinions ion-item {
        -ms-flex-align: baseline;
        align-items: baseline;
    }

    .opinions ion-item .item-inner {
        border-bottom-color: #eee !important;
    }

    .opinions ion-item h3 {
        font-size: 12px;
        color: #323232;
        font-weight: bold;
        margin-bottom: 0px;
    }

    .opinions ion-item .registration-date {
        font-size: 11px;
        color: #787878;
        margin-bottom: 8px;
    }

    .opinions .avatar-span {
        min-width: 3rem;
        min-height: 3rem;
    }

    .opinions .avatar-span .avatar-span-image {
        width: 3.2rem;
        height: 3.2rem;
    }

    .opinions .item-md [item-start] {
        margin: 14px 10px 14px 0;
    }

    .opinions .item-ios [item-start] {
        margin: 11px 10px 11px 0;
    }

    .opinions .item-md [item-end] {
        margin: 49px 6px 14px 0;
    }

    .opinions .item-ios [item-end] {
        margin: 46px 6px 11px 0;
    }

    .opinions .opinion-content {
        font-size: 12px;
        color: #323232;
    }

    .opinions .opinion-image-wrapper {
        width: 3.5rem;
        height: 3.5rem;
        overflow: hidden;
        border-radius: 5px;
    }

    .opinions .opinion-image {
        position: relative;
        max-width: 3.5rem;
    }

    .opinions .empathy-image {
        border: 1.25px solid #ff6400;
    }

    .opinions .non-empathy-image {
        border: 1.25px solid #a8a8a8;
    }

    // .opinions .opinion-tag {
    //     position: absolute;
    //     right: 14px;
    //     padding: 2px 13px;
    //     font-size: 1.1rem;
    //     font-weight: 500;
    //     border-radius: 50px;
    // }

    .opinions .empathy-tag {
        color: #fff;
        background-color: #ff6400
    }

    .opinions .non-empathy-tag {
        color: #5b5b5b;
        background-color: #e8e8e8;
    }

    .open-opinion-editor {
        width: 100%;
        bottom: 0;
    }

    .open-opinion-editor button {
        width: 100%;
        text-align: center;
        border-radius: 0;
        border-top: 1px solid #eee;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-size: 12px;
        height: 40px;
        font-weight: bold;
    }

    .empty-inner p {
        font-size: 1.6rem;
        color: #c8c8c8;
    }

    .empty-inner ion-icon {
        color: #c8c8c8;
    }

    .opinions ion-list {
        margin: -1px 0 56px;
    }
}
