<!--
  Generated template for the UserProjectFeedbackPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons start>
      <button ion-button (click)="back()" icon-only>
        <ion-icon name="ios-arrow-back"></ion-icon>              
      </button>
    </ion-buttons>
    <ion-title>
      <span class="project-header-title-wrapper">
        <span class="project-header-title">
          {{projectName | slice:0:15}}
        </span>
        <span class="slice-tag" *ngIf="projectName.length > 15"> ...</span>
      </span>
    </ion-title>
    <ion-buttons end>
        <!-- 피드백 추가  -->
       <!-- <button ion-button *ngIf="isMyFeedback" (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
      <button ion-button *ngIf="!isMyFeedback"></button>   -->
      <button ion-button></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides *ngIf="feedbackImages.length" pager [style.height.px]="slideHeight">
    <ion-slide (click)="photoView(feedbackImage.img)" tappable class="feedback-image-slide" *ngFor="let feedbackImage of feedbackImages; let i = index">
      <div class="cropper" [style.height]="100+'%'">
        <img [src]="feedbackImage.img" />
      </div>
    </ion-slide>
  </ion-slides>  
  <div class="feedback-wrapper" padding>
    <ion-item float-left class="avatar-span-wrapper item-flex">
      <span item-start class="avatar-image avatar-span cropper">
        <img class="avatar-span-image" [src]="avatarImage" />
      </span>
      <h3>
        <span class="best-badge" *ngIf="isBest">
          <span>BEST</span>
        </span>
        {{nickname}}
        <span float-right class="empathy-wrapper">
          <span><span class="text-empathy">공감</span> {{empathyNum}}</span>
          <span><span class="text-nonempathy">비공감</span> {{nonEmpathyNum}}</span>
        </span>
      </h3>
      <p [innerHTML]="feedbackRegistrationDate | amLocale:'ko' | amTimeAgo"></p>
    </ion-item>
    <p class="feedback-comment" [innerHTML]="feedback"></p>
    <div class="hashtag-wrapper">
      <span tappable ion-button outline *ngFor="let feedbackHashtag of feedbackHashtags" (click)="openUserProjectSearchResultPage([feedbackHashtag])" >
        #{{feedbackHashtag}}
      </span>
    </div>
  </div>
  <div class="shadow-top"></div>
  <div class="opinions-title" padding>토론장</div>
  <ion-segment [(ngModel)]="segmentOpinionsCondition" color="primary" >
    <ion-segment-button value="all">
      전체보기 {{opinions.length}}
    </ion-segment-button>
    <ion-segment-button value="empathy">
      공감 {{empathyNum}}
    </ion-segment-button>
    <ion-segment-button value="nonEmpathy">
      비공감 {{nonEmpathyNum}}
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segmentOpinionsCondition" class="opinions">
    <ion-list *ngSwitchCase="'all'">
      <div text-center *ngIf = "!opinions.length" class="empty-inner">
        <ion-icon name="chatbubbles"></ion-icon>
        <p>처음으로 토론에 참여해보세요!</p>
      </div>
      <div *ngFor="let opinion of opinions; let i = index">
        <ion-item *ngIf="opinion.is_empathy" class="empathy-opinion">
          <span item-start class="avatar-image avatar-span cropper">
            <img class="avatar-span-image empathy-image" [src]="opinion.avatar_image" />
          </span>
          <h3>
            {{opinion.nickname}}
            <span class="empathy-tag opinion-tag">공감</span>
          </h3>
          <p class="registration-date" [innerHTML]="opinion.opinion_registration_date | amLocale:'ko' | amTimeAgo"></p>
          <div class="opinion-content">
            {{opinion.opinion}}
          </div>
          <span *ngIf="opinion.opinion_image" (click)="photoView(opinion.opinion_image)" item-end tappable class="opinion-image-wrapper cropper">
              <img class="opinion-image" [src]="opinion.opinion_image"/>
          </span> 
        </ion-item>
        <ion-item *ngIf="!opinion.is_empathy" class="non-empathy-opinion">
          <span item-start class="avatar-image avatar-span cropper">
            <img class="avatar-span-image non-empathy-image" [src]="opinion.avatar_image" />
          </span>
          <h3>
            {{opinion.nickname}}
            <span class="non-empathy-tag opinion-tag">비공감</span>
          </h3>
          <p class="registration-date" [innerHTML]="opinion.opinion_registration_date | amLocale:'ko' | amTimeAgo"></p>
          <div class="opinion-content">
            {{opinion.opinion}}
          </div>
          <span *ngIf="opinion.opinion_image" (click)="photoView(opinion.opinion_image)" item-end tappable class="opinion-image-wrapper cropper">
              <img class="opinion-image" [src]="opinion.opinion_image" />
          </span> 
        </ion-item>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'empathy'">
      <div text-center *ngIf = "!opinions.length" class="empty-inner">
        <ion-icon name="chatbubbles"></ion-icon>
        <p>처음으로 토론에 참여해보세요!</p>
      </div>
      <div *ngFor="let opinion of opinions; let j = index">
        <ion-item *ngIf="opinion.is_empathy" class="empathy-opinion">
          <span item-start class="avatar-image avatar-span cropper">
            <img class="avatar-span-image empathy-image" [src]="opinion.avatar_image" />
          </span>
          <h3>
            {{opinion.nickname}}
            <span class="empathy-tag opinion-tag">공감</span>
          </h3>
          <p class="registration-date" [innerHTML]="opinion.opinion_registration_date | amLocale:'ko' | amTimeAgo"></p>
          <div class="opinion-content">
            {{opinion.opinion}}
          </div>
          <span *ngIf="opinion.opinion_image" (click)="photoView(opinion.opinion_image)" item-end tappable class="opinion-image-wrapper cropper">
              <img class="opinion-image" [src]="opinion.opinion_image" />
          </span> 
        </ion-item>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'nonEmpathy'">
      <div text-center *ngIf = "!opinions.length" class="empty-inner">
        <ion-icon name="chatbubbles"></ion-icon>
        <p>처음으로 토론에 참여해보세요!</p>
      </div>
      <div *ngFor="let opinion of opinions; let k = index">
        <ion-item *ngIf="!opinion.is_empathy" class="non-empathy-opinion">
          <span item-start class="avatar-image avatar-span cropper">
            <img class="avatar-span-image non-empathy-image" [src]="opinion.avatar_image" />
          </span>
          <h3>
            {{opinion.nickname}}
            <span class="non-empathy-tag opinion-tag">비공감</span>
          </h3>
          <p class="registration-date" [innerHTML]="opinion.opinion_registration_date | amLocale:'ko' | amTimeAgo"></p>
          <div class="opinion-content">
            {{opinion.opinion}}
          </div>
          <span *ngIf="opinion.opinion_image" (click)="photoView(opinion.opinion_image)" item-end tappable class="opinion-image-wrapper cropper">
              <img class="opinion-image" [src]="opinion.opinion_image" />
          </span> 
        </ion-item>
      </div>
    </ion-list>
  </div>
  <ion-fab bottom class="open-opinion-editor">
    <button *ngIf="isMyFeedback" ion-fab color="primary">내가 작성한 피드백입니다.</button>
    <button *ngIf="isMyOpinion && !isMyFeedback" ion-fab color="primary">이미 참여한 토론입니다.</button>
    <button *ngIf="!isMyFeedback && !isMyOpinion" ion-fab color="primary" (click)="openUserProjectOpinionWritingEditorPage(nickname, feedback_id)">토론 참여하기</button>
  </ion-fab>
</ion-content>
