page-user-account-modification-form {

}

.account-modification-page-header {
    background-color: #fff;

    .toolbar-ios {
        padding-top: calc(20px + 4px);
        min-height: calc(44px + 20px);
        .title {
            padding-top: calc(18px + 4px);
        }
    }
    
    .back-and-close-button {
        color: #a8a8a8;
    }

    .modify-button {
        font-size: 1.5rem;
        font-weight: bold;
        color: #ff6400;
    }

    ion-buttons[start] {
        order: 1;
    }

    .toolbar-title-md {
        justify-content: center;
    }
}

.account-modification-page-content {
    // background-color: rgba(64,64,64,0.7);
    background-color: transparent !important;
    .scroll-content {
        padding-bottom: 0 !important;
    }
    .account-modification-wrapper {
        height: 100%;
        .account-modification-profile-box {
            height: 56.25vw;
            display:flex;
            align-items:flex-end;
            justify-content:center;

            display:-webkit-flex;
            -webkit-align-item:flex-end;
            -webkit-justify-content:center;

            .avatar-image-background-wrapper {
                width: 100%;
                height: 56.25vw;
                min-width: 100%;
                min-height: 56.25vw;
                overflow: hidden;
                margin: 0;
                -webkit-filter: brightness(60%);
                filter:  brightness(60%);
            }

            .avatar-image-background {
                width: 100%;
                position: relative;
                -webkit-filter: blur(5px);
                filter: blur(5px);
                transform: scale(1.1);
            }

            .item-inner {
                border-bottom: 0;
                padding-right: 0;
            }
        }

        .avatar-wrapper {
            display: block;
            justify-content: center;
            position: relative;
            margin-top: -3em;
            width: 100%;
            .avatar-span {
                margin-top: 0;
                min-width: 6em;
                min-height: 6em;
                z-index: 10;
            }

            .avatar-span-image {
                width: 6em;
                height: 6em;
                border: 0;
                -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            }

            h3 {
                font-size: 1.7rem;
                font-weight: bold;
                color: #383838;
                margin-top: 12px;
                ion-icon {
                    position: absolute;
                    margin-left: 12px;
                    color: #a8a8a8;
                    font-size: 1.5rem;
                    margin-top: 0.2rem;
                }
            }
        }
    }

    .account-modification-list {
        padding-bottom: 5px;        
        margin: 0;
        border: 0 !important;
        background-color: #f9f9f9;
        .item:last-child {
            border: 0 !important;
            box-shadow: none !important;
        }
        .item {
            margin-top: 8px;
            background-color: transparent !important;
            transition: unset;
            border: 0 ;
            border-bottom: 0;
            -webkit-tap-highlight-color: transparent;

            .item-inner {
                border-bottom: 0;
                padding-right: 16px;
            }

            .label:nth-last-child(1) {
                padding-bottom: 14px;
                border-bottom: 1px solid #e7e7e7;
                // font-weight: bold;
            }

            ion-input {
                margin-top: 5px;
                background-color: #fff;
                padding: 0 8px;
                border: 1px solid #e8e7ee;
            }

            ion-textarea {
                margin-top: 5px;
                background-color: #fff;
                padding: 0 8px;
                border: 1px solid #e8e7ee;
                font-size: 1.4rem;
                textarea {
                    color: #383838;
                }
            }
        }

        .email {
            margin:0;
            overflow: unset;
            margin-top: 5px;
        }

        .input-has-focus {
            ion-input {
                border-bottom: 2px solid #ff6400;
            }
            ion-textarea {
                border-bottom: 2px solid #ff6400;
            }
        }
    }
}