page-company-mypage {
    .outer-content {
        height: 100%;
    }

    .scroll-content {
        border-top: 0 !important;
    }

    .header {
        border-bottom : 1px solid #EEE;
    }
    .mypage-profile-wrapper .avatar-span{
        min-width: 60px;
        min-height: 60px;
    }

    .mypage-profile-wrapper .avatar-span .avatar-span-image {
        width: 60px;
        height: 60px;
    }

    .mypage-profile-wrapper {
        -webkit-box-align: inherit;
        -webkit-align-items: inherit;
        -ms-flex-align: inherit;
        align-items: inherit;
        margin-top: 20px !important;
        width: 100%;
    }

    .mypage-profile-wrapper .label {
        padding-left: 16px;
        padding-right: 16px;
    }

    .mypage-profile-wrapper .item-inner {
        border-bottom: 0 !important;
    }

    .exp-wrapper {
        display: inline-block;
        width: 100%;
    }

    .exp-wrapper span{
        font-size: 1rem;
        color: #888;
    }

    .profile-modification-button {
        color: #FE6B01;
        border-color: #FE6B01;
        border-radius: 5px;
        font-size: 1.1rem !important;
        height: 30px !important;
    }

    .profile-modification-button.activated {
        color: #fff;
        border-color: #FE6B01;
        background-color: #FE6B01;
    }

    .account-modification-button {
        color: #FE6B01;
        position: absolute;
        padding: 0 1em !important;
        margin: 0;
        height: auto !important;
    }

    .account-modification-button.activated {
        color: #FE6B01;
    }

    .mypage-profile-wrapper p{
        font-size: 1.05rem;
        color: #727272;
        margin-bottom: 1px;
    }

    .mypage-profile-wrapper h5{
        font-size: 1.45rem;
        color: #383838;
        margin-top: 0;
        font-weight: bold;
    }

    .segment-button-wrapper .segment-button {
        line-height: 1.2;
        text-align: left;
        border: 0;
        border-radius: 0 !important;
        border-bottom: 1px solid #d8d8d8;
        height: auto;
        padding: 20px 0 12px 10px;
        color: #383838;
    }

    .segment-button-wrapper .segment-button.segment-activated {
        background-color: transparent;
        border-bottom: 2px solid #FE6B01;
        color: #FE6B01;
        padding-bottom: 11px;
        font-weight: bold;
    }
    .segment-button-wrapper .segment-button.segment-activated h5 {
        font-weight: bold;
    }

    .segment-button-wrapper .segment-button p,
    .segment-button-wrapper .segment-button h5 {
        margin: 0;
    }

    .segment-button-wrapper .segment-button p {
        font-size: 1rem;
    }

    .segment-button-wrapper .segment-button h5 {
        font-size: 1.1rem;
        margin-top: 2px;
    }
}
