<!--
  Generated template for the UserNewsfeedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      뉴스피드
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div text-left class="tab-top-notice">
    뉴스피드를 둘러보세요.
  </div>
  <div text-center *ngIf = "!newsfeeds.length" class="empty-inner">
    <ion-icon name="warning" color="danger"></ion-icon>
    <p>준비중입니다!</p>
  </div>
  <ion-grid *ngIf="newsfeeds.length" [virtualScroll]="newsfeeds">
    <ion-row>
      <ion-col col-6 *virtualItem="let newsfeed">
        <ion-card class="newsfeed-card" (click)="openUserNewsfeedStoryPage()">
          <img [src]="newsfeed.newsfeedMainImage" />
          <ion-card-content text-left [innerHTML]="newsfeed.newsfeedName">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="endScroll">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> 
</ion-content>