<!--
  Generated template for the UserNewsfeedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      뉴스피드
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div text-left class="tab-top-notice">
    뉴스피드를 둘러보세요.
  </div>
  <ion-grid *ngIf="newsfeeds.length">
    <ion-row>
      <ion-col col-6 *ngFor="let newsfeed of newsfeeds" margin-bottom>
        <ion-card tappable class="newsfeed-card" (click)="openUserNewsfeedStoryPage(newsfeed.newsfeed_id)">
          <img [src]="newsfeed.newsfeed_main_image" />
          <ion-card-content text-left [innerHTML]="newsfeed.newsfeed_name">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>