<!--
  Generated template for the UserProjectReportFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="slide-question-content" #contentRef no-bounce (ionScroll)="scrollingEvent($event)" (panEnd)='panEnd()'>
  <div class="story-main-image-wrapper">
    <div class="story-main-image" [style.backgroundImage]="'url(' + projectMainImage + ')'"></div>
  </div>
  <ion-slides pager="false" (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngIf="isLink">
      <ion-navbar class="project-report-form-navbar" hideBackButton="true">
        <ion-buttons start>
          <button class="dismiss-button" ion-button (click)="dismiss()" icon-only>
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-buttons>
        <ion-title>
          <span class="project-header-title-wrapper">
            <span class="project-header-title" text-center>
              심층 피드백
            </span>
          </span>
        </ion-title>
        <ion-buttons end>
          <button class="next-submit-button" ion-button clear [disabled]="isWrited" (click)="goNextSlide()">
            다음
          </button>
        </ion-buttons>
      </ion-navbar>
      <div class="question">Q1. 직접 사용해본 사진</div>
      <div class="question-summary">서비스를 사용하신 모습이 담긴 인증 사진을 2개 이상 올려주세요!</div>
      <div class="editor-content">
        <div class="feedback-images small-feedback-images">
          <span class="add-image-button-box image-box">
            <span class="feedback-image-wrapper add-image-button" tappable (click)="addImage()">
              <ion-icon name="md-add"></ion-icon>
            </span>
          </span>
          <span class="image-box" *ngFor="let image of project_report_images; let i = index">
            <button class="delete-image-button" ion-button clear (click)="deleteImage(i)"><img src="assets/img/delete-button.png" /></button>
            <span class="feedback-image-wrapper cropper">
              <img class="feedback-image" [src]="sanitize(image.img)" />
            </span>
          </span>
        </div>
        <div text-right class="content-length-wrapper" [ngStyle]="{'color': 2 > (project_report_images.length)? '#787878' : '#2C908F'}">
          <span>{{project_report_images.length}}</span> / <span>2</span>
        </div>
      </div>
    </ion-slide>
    <ion-slide *ngIf="!isLink">
      <ion-navbar class="project-report-form-navbar" hideBackButton="true">
        <ion-buttons start>
          <button class="dismiss-button" ion-button (click)="dismiss()" icon-only>
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-buttons>
        <ion-title>
          <span class="project-header-title-wrapper">
            <span class="project-header-title" text-center>
              심층 피드백
            </span>
          </span>
        </ion-title>
        <ion-buttons end>
          <button class="next-submit-button" ion-button clear [disabled]="50 > (storySummaryContent | textcount)" (click)="goNextSlide()">
            다음
          </button>
        </ion-buttons>
      </ion-navbar>
      <div class="question">Q1. 이 서비스에 대해 요약해서 설명해주세요!</div>
      <div class="question-summary">한번 기업의 입장이 되어 유저들에게 이 서비스가 어떤 서비스인지, 어떤 특징들이 있는지 설명해주세요!</div>
      <div class="editor-content">
        <div class="content-length-wrapper" [ngStyle]="{'color': 50 > (storySummaryContent | textcount)? '#787878' : '#2C908F'}">
          <span>{{storySummaryContent | textcount}}</span> / <span>50</span>
        </div>
        <textarea  [(ngModel)]="storySummaryContent" [placeholder]="storySummaryContentPlaceholder"></textarea>
      </div>
    </ion-slide>
    <ion-slide>
      <ion-navbar class="project-report-form-navbar" hideBackButton="true">
        <ion-buttons start>
          <button class="dismiss-button" ion-button (click)="dismiss()" icon-only>
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-buttons>
        <ion-title>
          <span class="project-header-title-wrapper">
            <span class="project-header-title" text-center>
              심층 피드백
            </span>
          </span>
        </ion-title>
        <ion-buttons end>
          <button class="next-submit-button" class="next-submit-button" ion-button clear [disabled]="50 > (prosContent | textcount)" (click)="goNextSlide()">
            다음
          </button>
        </ion-buttons>
      </ion-navbar>
      <div class="question">Q2. 해당 서비스에 대해 만족스러웠던 점은?</div>
      <div class="question-summary">서비스를 경험해보면서 만족스러웠던 점에 대해 말씀해주세요!</div>
      <div class="editor-content">
        <div class="content-length-wrapper" [ngStyle]="{'color': 50 > (prosContent | textcount)? '#787878' : '#2C908F'}">
          <span>{{prosContent | textcount}}</span> / <span>50</span>
        </div>
        <textarea  [(ngModel)]="prosContent" [placeholder]="prosContentPlaceholder"></textarea>
      </div>
    </ion-slide>
    <ion-slide>
      <ion-navbar class="project-report-form-navbar" hideBackButton="true">
        <ion-buttons start>
          <button class="dismiss-button" ion-button (click)="dismiss()" icon-only>
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-buttons>
        <ion-title>
          <span class="project-header-title-wrapper">
            <span class="project-header-title" text-center>
              심층 피드백
            </span>
          </span>
        </ion-title>
        <ion-buttons end>
          <button class="next-submit-button" ion-button clear [disabled]="50 > (consContent | textcount)" (click)="goNextSlide()">
            다음
          </button>
        </ion-buttons>
      </ion-navbar>
      <div class="question">Q3. 해당 서비스에 대해 아쉬웠던 부분은?</div>
      <div class="question-summary">서비스를 경험해보면서 아쉬웠던 부분에 대해 말씀해주세요!</div>
      <div class="editor-content" margin-bottom>
        <div class="content-length-wrapper" [ngStyle]="{'color': 50 > (consContent | textcount)? '#787878' : '#2C908F'}">
          <span>{{consContent | textcount}}</span> / <span>50</span>
        </div>
        <textarea  [(ngModel)]="consContent" [placeholder]="consContentPlaceholder"></textarea>
      </div>
    </ion-slide>
    <ion-slide>
      <ion-navbar class="project-report-form-navbar" hideBackButton="true">
        <ion-buttons start>
          <button class="dismiss-button" ion-button (click)="dismiss()" icon-only>
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-buttons>
        <ion-title>
          <span class="project-header-title-wrapper">
            <span class="project-header-title" text-center>
              심층 피드백
            </span>
          </span>
        </ion-title>
        <ion-buttons end>
          <button class="submit-btn" ion-button clear [disabled]="100 > (overallOpinionContent | textcount)" (click)="submit()">
            완료
          </button>
        </ion-buttons>
      </ion-navbar>
      <div class="question">Q4. 기타 의견 및 총평</div>
      <div class="question-summary">그 밖의 다른 의견, 제안 사항 등 기타 의견이나 전반적인 후기 및 평가에 대해 자유롭게 작성해주세요!</div>
      <div class="editor-content">
        <div class="content-length-wrapper" [ngStyle]="{'color': 100 > (overallOpinionContent | textcount)? '#787878' : '#2C908F'}">
          <span>{{overallOpinionContent | textcount}}</span> / <span>100</span>
        </div>
        <textarea  [(ngModel)]="overallOpinionContent" [placeholder]="overallOpinionContentPlaceholder"></textarea>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>