<!--
  Generated template for the UserProjectStoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <div class="story-main-image-wrapper">
  <div class="story-main-image" [style.backgroundImage]="'url(' + projectMainImage + ')'"></div>
</div> -->
<ion-content class="story-slide" [style.backgroundImage]="'url(' + projectMainImage + ')'">
  <ion-slides pager="false" (ionSlideDidChange)="slideChanged()">
    <ion-slide class="story-first-slide" padding>
      <ion-buttons class="slide-title-wrapper">
        <button ion-button clear (click)="goNextSlide()">
          <h1 class="title">프로젝트 스토리 ></h1>
        </button>
      </ion-buttons>
      <h2 [innerHTML]="projectName"></h2>
      <div class="project-state-wrapper">
        <span class="project-state-icon">
          <!-- <ion-icon name="md-calendar" item-start></ion-icon> -->
          <img src="assets/img/calendar.png" />
        </span>
        <span class="project-state-content">
          {{progressState | amLocale:'ko' | amTimeAgo | progressState}}
        </span>
        <span margin-left class="project-state-icon">
          <!-- <ion-icon name="md-people" item-start></ion-icon> -->
          <img src="assets/img/people.png" />
        </span>
        <span class="project-state-content">
          {{participantNum}}명 / {{maxParticipantNum}}명
        </span>
      </div>
      <p class="summary" [innerHTML]="projectSummary"></p>
      <h5>{{projectRegistrationDate | amDateFormat: 'YYYY-MM-DD'}} 에 작성됨</h5>
      <h6>* 이 콘텐츠의 저작권은 모두 FEED100이 소유하고 있습니다.</h6>

    </ion-slide>
    <ion-slide class="story-content-slide" *ngFor="let projectStorySlide of projectStorySlides">
      <img [src]="projectStorySlide.storyImage"/>
      <div class="video-container" *ngIf="projectStorySlide.storyVideo">
        <iframe width="100%" [src]="projectStorySlide.storyVideo | youtube" class="slide-video" frameborder="0" allowfullscreen></iframe>
      </div>
      <p text-left class="story-content-slide-content" [innerHTML]="projectStorySlide.storyContent"></p>
    </ion-slide>

    <ion-slide padding class="project-last-slide">
      <ion-buttons class="slide-title-wrapper last-slide-title-wrapper">
        <button ion-button clear (click)="goFirstSlide()">
          <h1 class="title">&lt; 스토리 다시보기</h1>
        </button>
      </ion-buttons>
      <div class="project-last-slide-wrapper">
        <h2 class="story-name" [innerHTML]="projectName"></h2>
        <p class="summary" [innerHTML]="projectSummary"></p>
        <ion-item class="avatar-span-wrapper item-flex">
          <span item-start class="avatar-image avatar-span cropper">
            <img class="avatar-span-image" [src]="avatarImage" />
          </span>
          <h3>by. {{nickname}}</h3>
        </ion-item>
      </div>
      
      <ion-buttons class="project-last-slide-buttons">
        <button ion-button block outline *ngIf="isFeedback" (click)="openUserProjectFeedbackFormPage()">피드백 작성 페이지로 이동</button>
      </ion-buttons>
      <ion-buttons class="project-last-slide-buttons">
        <button ion-button block outline *ngIf="isLink" (click)="openUserProjectLinkPage()">링크</button>
      </ion-buttons>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer class="story-footer">
  <progress-bar [progress]="progressPercent"></progress-bar>
  <ion-navbar hideBackButton="true">
    <ion-buttons class="story-back-button" start>
      <button ion-button (click)="back()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-item class="avatar-span-wrapper item-flex" *ngIf="isFirstSlide">
      <span item-start class="avatar-image avatar-span cropper">
        <img class="avatar-span-image" [src]="avatarImage" />
      </span>
      <h3>{{nickname}}</h3>
    </ion-item>
    <ion-item *ngIf="!isFirstSlide" start class="bar-item-wrapper item-flex page-num">
      <ion-icon name="ios-browsers-outline" item-start></ion-icon>
      <p>{{currentPageNum}} / {{totalPageNum}}</p>
    </ion-item>
    <ion-buttons class="bar-end-buttons" end>
      <button ion-button>
        <ion-icon name="ios-eye-outline" item-start></ion-icon>
        <p>{{projectViewNum}}</p>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-footer>