page-user-point-exchange {
    .header {
        border-bottom : 1px solid #e7e7e7;
    }
    ion-navbar ion-buttons[start] {
        order: 1;
    }

    .point-exchange-wrapper {
        color: #383838;
        margin-top: 16px;
        .total-point-wrapper {
            p {
                margin-bottom: 0;
            }
            .total-point {
                font-size: 5rem;
                font-weight: 200;
            }
            .total-point-tag {
                font-size: 2.5rem;
                font-weight: 300;
                margin-left: 5px;
            }
        }
    
        .exchange-content {
            margin-top: 24px;
            // ion-item > input input 활성화되었을때
            .underline-input .item-input.item-input-has-focus .input,
            .underline-input .item-input.input-has-focus .input {
                border-bottom: 1px solid #FE6B01;
            }
    
            .underline-input {
                .text-input {
                    font-size: 1.4rem;
                }
    
                .label {
                    font-size: 1.4rem;
                    color: #383838;
                    padding-left: 20px;
                }
    
                .total-point-tag {
                    position: absolute;
                    font-size: 1.3rem;
                    font-weight: 300;
                    margin: 0;
                    right: 20px;
                }
    
                .select {
                    font-size: 1.4rem;
                    max-width: 100% !important;
                    width: 100%;
                    border-bottom: 1px solid #F1F2F3;
                }
    
                .exchange-button {
                    margin-top: 32px;
                    height: 3em;
                }
            }
    
            .input-warn {
                font-size: 1.2rem;
                color: #f53d3d;
                margin-right: 8px;
                margin-top: 8px;
            }
        }
    
        .exchange-summary {
            p {
                font-size: 1.2rem;
                color: #787878;
            }
    
            .warn-summary {
                color: #f53d3d;
                font-weight: bold;
            }
    
            ins {
                color: #ff6700;
            }
        }
    }
}
