<!--
  Generated template for the AdminProjectSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="story-main-image-wrapper">
  <div class="story-main-image" [style.backgroundImage]="'url(' + projectMainImage + ')'"></div>
</div>
<ion-header padding>
  <ion-navbar hideBackButton="true">
    <ion-buttons start>
      <button class="dismiss-button" ion-button (click)="back()" icon-only>
        <ion-icon name="arrow-back"></ion-icon>              
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content  no-bounce>
  <div class="hashtag-wrapper" padding>
    <div class="project-name">{{projectName}}</div>
    <div class="search-info">원하시는 #해시태그를 선택해 주세요!</div>
    <div class="search-info padding-bottom">Skip하시면 모든 프로젝트를 볼 수 있습니다.</div>
    <ion-buttons *ngFor="let projectHashtag of projectHashtags">
      <button ion-button clear class="inactive-button" *ngIf="!projectHashtag.isActiveHashtag" (click)="activeHashtag(projectHashtag)">
        #{{projectHashtag.value}}
      </button>
      <button ion-button clear class="active-button" *ngIf="projectHashtag.isActiveHashtag" (click)="inactiveHashtag(projectHashtag)">
        #{{projectHashtag.value}}
      </button>
    </ion-buttons>

    <div margin-top>
      <button ion-button clear class="all-button inactive-button" *ngIf="projectHashtags.length > searchResults.length" (click)="activeAllHashtag()">모두 선택하기</button>
      <button ion-button clear class="all-button active-button" *ngIf="searchResults.length == projectHashtags.length" (click)="inactiveAllHashtag()">모두 선택하기</button>
    </div>

    <ion-buttons class="search-button">
      <button ion-button [disabled]="!searchResults.length" (click)="openAdminProjectSearchResultPage()">
        <ion-icon name="search"></ion-icon>검색하기!
      </button>
    </ion-buttons>
  </div>
</ion-content>