page-notice {
    .list-wrapper {
        height: 100% !important;
        padding-bottom: 16px !important;
    }

    .list-wrapper .item-wrapper:nth-last-child(1) {
        margin-bottom: 16px;
    }

    ins {
        color: #ff6700;
    }
}

.notice-content-wrapper {
    height: 100%;
}