<!--
  Generated template for the AdminProjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the UserProjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="tabs-header">
  <ion-navbar hideBackButton="true">
    <ion-title>프로젝트</ion-title>
    <ion-buttons end>
      <button ion-button (click)="openAdminConfigurePage()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="project-page-content">
  <!-- 당겨서 새로고침 -->
  <ion-refresher padding-top (ionRefresh)="doRefresh($event)" pullMin="150" pullMax="500">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <!-- 추천 프로젝트 -->
  <section class="recommended-section m-b-30 m-t-20" *ngIf = "proceedingProjects.length">
    <div class="home-group-title p-r-28 p-l-28">
      진행중인 프로젝트
      <p>현재 진행중인 프로젝트입니다!</p>
    </div>
    <div class="p-r-16 p-l-16">
      <div tappable class="vertical-project-card-wrapper" *ngFor="let proceedingProject of proceedingProjects">
        <div class="vertical-project-card" tappable (click)="accessProjectCard(proceedingProject.project_id)">
          <span class="left-span">
            <div class="project-card-main-image-wrapper cropper">
              <img [src]="proceedingProject.project_main_image" />  
            </div>
            <div class="project-card-overlay-wrapper">
              <span class="project-card-overlay">
                <span class="project-card-overlay-item p-card-tag">max {{proceedingProject.project_max_reward}}p</span>
              </span>
            </div>
          </span>
          <span class="right-span height100">
            <div text-left class="card-content">
              <span class="project-card-summary-wrapper">
                <p class="project-card-summary">{{proceedingProject.project_name}}</p>
              </span>
              <span class="summary-btn-wrapper">
                <span tappable class="summary-btn">참여하기 ></span>
              </span>
            </div>
          </span>
        </div>
      </div>
    </div>
  </section>

  <!-- 모든 프로젝트 -->
  <section class="all-projects-section p-b-60 m-t-20 p-r-28 p-l-28">
    <div text-center class="home-group-title" [ngStyle]="{'border-top': proceedingProjects.length ? '0.55px solid #f2f2f2' : 'none', 'padding-top' : proceedingProjects.length ? '24px' : '120px'}">
      <div>더 많은 프로젝트를<br>보고싶다면?</div>
      <span tappable (click)="openAdminAllProjectList()">모든 프로젝트 보기 ></span>
    </div>
  </section>
</ion-content>
  