page-user-project-search-result {
    ion-buttons[start] {
        order: 1;
    }

    ion-content {
        background-color: rgba(38,38,38,0.2) !important;
    }
    // .scroll-content {
    //     // margin-top: 0 !important;
    //     margin-top: 111px;
    // }

    .toolbar-ios {
        padding-top: calc(20px + 4px);
        min-height: calc(44px + 20px);
    }

    ion-header {
        border-bottom: 1px solid #f0f0f0;
    }

    ion-header,
    .search-wrapper {
        position: relative;
        background-color: #fff;
    }

    // .search-wrapper {
    //     border-top: 1px solid #f0f0f0;
    // }

    .active-button-wrapper .bar-buttons {
        padding-left: 16px;
    }

    .button-md {
        overflow: initial;
    }

    .search-result-content {
        height: 100%;
        background-color: #fff;
    }

    .search-result-content-wrapper {
        background-color: #F0F0F0;
        height: 100%;
    }

    .outer-content {
        height: fit-content;
        background-color: #F0F0F0;
        padding-top: 20px;
    }

    .outer-content .card {
        margin-top: 0;
    }

    .inactive-all {
        color: #d3d3d3 !important;
        font-weight: bold !important;
    }

    .inactive-all.activated {
        color: #ff6400 !important;
    }

    .empty-search-result {
        text-align: center;
        padding-top: 40px;
        color: #d3d3d3;
    }

    .empty-search-result ion-icon {
        font-size: 9em;
    }

    .empty-search-result div {
        margin-top: 16px;
        font-size: 1.2em;
    }
}


.toolbar-content .hashtags-chooser-wraaper.active-button-wrapper,
.hashtags-chooser-wraaper.active-button-wrapper,
.hashtags-chooser-wraaper.inactive-button-wrapper {
    display: flex;
}

.hashtags-chooser-wraaper.inactive-button-wrapper {
    padding: 5px 16px;
}

.toolbar-content .hashtags-chooser-wraaper.active-button-wrapper {
    padding-right: 16px;
}

.toolbar-content .hashtags-chooser-wraaper.active-button-wrapper ion-buttons,
.hashtags-chooser-wraaper.active-button-wrapper ion-buttons,
.hashtags-chooser-wraaper.inactive-button-wrapper ion-buttons {
    display: inline-flex;
    overflow-x: scroll;
}

.toolbar-content .hashtags-chooser-wraaper.active-button-wrapper ion-buttons button,
.hashtags-chooser-wraaper.active-button-wrapper ion-buttons button,
.hashtags-chooser-wraaper.inactive-button-wrapper ion-buttons .button {
    height: 28px;
    font-size: 1.3rem;
    font-weight: 500;
    margin-right: 0.5rem;
}

.hashtags-chooser-wraaper .inactive-button {
    color: #6f6f6f !important;
    background-color: transparent !important;
}

.toolbar-content .hashtags-chooser-wraaper.active-button-wrapper ion-buttons button,
.hashtags-chooser-wraaper.active-button-wrapper ion-buttons button {
    color: #ff6400;
    background-color: #f0f0f0;
    border-radius: 50px;
    padding: 2px 16px;
}

.toolbar-content .hashtags-chooser-wraaper.active-button-wrapper ion-icon,
.hashtags-chooser-wraaper.active-button-wrapper ion-icon {  
    color: #d3d3d3;
    padding-left: 5px;
    font-size: 1.3rem;
}

.hashtags-chooser-wraaper .button-md {
    text-transform: none !important;
    overflow: initial;
}

.hashtags-chooser-wraaper .button-md .button-inner {
    width: fit-content;
}