page-user-project-feedback-list {

}

.feedback-list-header {
    background-color: #fff;

    .toolbar {
        border-bottom: 1px solid #eee;
    }

    ion-buttons[start] {
        order: 1;
    }

    .toolbar-title {
        justify-content: center;
        padding: 0;
        font-size: 1.4rem !important;
    }

    .title-ios {
        padding-right: 34px;
        padding-left: 34px;
    }

    .title-md {
        padding-right: 34px;
    }

    .segment {
        background-color: #fff;
    }

    .segment-button {
        font-size: 1.2rem;
    }
    
    .segment-ios {
        padding: 8px;
    }
}

.feedback-list-content {
    .feedback-list {
        padding-top: 18px;
    }
}

.outer-content {
    height: 100%;
}