page-user-project-interview-detail {
    
}

.interview-ion-header {
    background-color: #fff;
    
    ion-buttons[start] {
        order: 1;
    }

    .toolbar-title {
        -webkit-box-pack: inherit !important;
        padding: 0;
        font-size: 1.4rem !important;
    }

    .title-ios {
        padding-right: 34px;
        padding-left: 34px;
    }
}

.interview-ion-content {
    
    .outer-content {
        height: 100%;
    }
    .avatar-span-wrapper {
        // background-color: #fff !important;
        // margin-left: 10px;
        padding-left: 0;
        // contain: content;
        contain: inherit;
        overflow: unset;
    }

    .avatar-span-wrapper .item-inner {
        padding-right: 0;
    }

    .right-interview-card .avatar-span-wrapper {
        padding-left: 20px;
    }

    .left-interview-card .avatar-span-wrapper {
        border-left: 10px solid #ff6400;
    }

    .right-interview-card .avatar-span-wrapper {
        border-right: 10px solid #ff6400;
    }

    .left-interview-card .avatar-span-wrapper::before {
        content: "\A";
        border-style: solid;
        position: relative;
        border-width: 7px 10px 7px 0;
        border-color: transparent #fff transparent transparent;
        left: -10px;
    }

    .right-interview-card .avatar-span-wrapper::after {
        content: "\A";
        border-style: solid;
        position: relative;
        border-width: 7px 0px 7px 10px;
        border-color: transparent transparent transparent #fff;
        right: -10px;
    }

    .avatar-span-wrapper h3 {
        font-size: 1.4rem;
        color: #383838;
        font-weight: bold;
    }

    .avatar-span-wrapper p {
        font-size: 1.2rem;
        color: #787878;
    }

    .avatar-span {
        height: 2.5em;
        width: 2.5em;
        margin-right: 8px !important;
        overflow: hidden;
    }

    .right-interview-card .avatar-span {
        margin-right: 0 !important;
        margin-left: 8px;
    }

    .avatar-span .avatar-span-image {
        height: 2.5em;
        width: 2.5em;
    }
    .card-content {
        padding: 0 !important;
        border-top: 1px solid #e9e9e9;
    }

    .card-content p {
        margin: 0;
        padding: 16px;
        color: #686868;
        font-size: 1.3rem;
        line-height: 1.4;
    }

     .feedback-images {
        justify-content: baseline !important;
        width: -webkit-fill-available;
        display: inline-flex;
        overflow-x: scroll;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .small-feedback-images .feedback-image-wrapper {
        width: 9rem;
        height: 9rem;
        min-width: 9rem;
        min-height: 9rem;
        overflow: hidden;
        margin: 0;
        border: 0.55px solid #eee;
    }

    .small-feedback-images .image-box {
        margin-left: 6px;
    }

    .small-feedback-images .image-box:nth-child(1) {
        margin-left: 16px;
    }

    .small-feedback-images .image-box:nth-last-child(1) {
        padding-right: 16px;
    }

    .small-feedback-images .feedback-image {
        max-width: 9rem;
    }

    .reply-company-interview {
        margin: 0;
        border: 0;
        border-top: 1px solid #e9e9e9;
        color: #787878;
        font-weight: bold;
    }

    .reply-company-interview .icon {
        margin-left: 8px;
    }

    .reply-check-wrapper {
        align-items:center;
        justify-content:center;

        display:-webkit-flex;
        -webkit-align-item:center;
        -webkit-justify-content:center;
        font-size: 1.4rem;
        height: 3.3em;
        font-weight: bold;
        color: #ff6400;
        border-top: 1px solid #e9e9e9;

        .icon {
            margin-left: 8px;
        }
    }

    .devide-line {
        align-items:center;
        justify-content:center;

        display:-webkit-flex;
        -webkit-align-item:center;
        -webkit-justify-content:center;
        .line-content {
            background-color: #efeff4;
            color: #787878;
            font-weight: bold;
            width: auto;
            margin-left: 0;
            padding: 0 8px;
            bottom: -0.85rem;
            position: relative;
        }
    }
}

.space-30 {
    margin-top: 30px;
}