<!--
  Generated template for the AdminProjectGroupInterviewQuestionEditorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="help" [ngStyle]="{'display': isHelpHide ? 'none' : 'flex'}">
  <div class="help-wrapper p-l-28 p-r-28" text-center>
    <h1 class="m-b-30">어떻게 써야할지 막막하시나요?</h1>
    <h2 class="m-b-30">아래 링크를 통해 인터뷰 방법에 대해 알아보세요!</h2>
    <div class="buttons-wrapper m-b-30">
      <span tappable class="interview-link-btn" (click)="openInterviewInfo()">인터뷰 방법 알아보기</span>
    </div>
    <div class="divider m-b-30"></div>
    <h2 class="m-b-30">아래 예문들을 참고해 보세요!</h2>
    <div class="help-references-wrapper m-b-60 p-l-16 p-r-16">
      <span class="help-references" *ngFor="let helpReferance of helpReferances">{{helpReferance}}</span>
    </div>
    <div class="hide-help-btn" (click)="help()" tappable>닫기</div>
  </div>
</div>
<ion-header class="editor-header">
  <ion-navbar>
    <ion-buttons start>
      <button class="dismiss-button" ion-button (click)="dismiss()" icon-only>
        취소
      </button>
    </ion-buttons>
    <ion-title>
      <span tappable class="help-btn" (click)="help()">
        <ion-icon name="ios-help-circle-outline"></ion-icon>
      </span>
    </ion-title>
    <ion-buttons end>
      <button [disabled]="minTextLength > (questionContent | textcount) || maxTextLength < (questionContent | textcount)" class="complete-button" ion-button (click)="completeEditor()" icon-only>
        완료
      </button>
    </ion-buttons>
  </ion-navbar>
  <div text-center class="question-wrapper m-b-10">아래 {{group.length}}명의 유저들에게 공통된 질문을 보냅니다.<br>선택된 유저를 확인하고 질문해주세요.</div>
  <div class="group-section">
    <span class="group-user-box" *ngFor="let user of group">
      <button color="light" ion-button class="active-button">
        <span item-start class="avatar-image avatar-span cropper">
          <img class="avatar-span-image" [src]="user.avatar_image" />
        </span>
      </button>
      <p text-center class="user-nickname">{{user.nickname}}</p>
    </span>
  </div>
</ion-header>

<ion-content class="editor-modal" #contentRef >
  <div class="editor-content" style="height: 100%">
    <div text-center class="p-t-30 p-l-28 p-r-28 p-b-30">
      <div class="interview-point-wrapper m-b-10" [ngStyle]="{'color': countColor(textCount(questionContent))}">
        <div text-center class="point-notice">{{pointNotice(textCount(questionContent))}}</div>
      </div>
      <div class="interview-text-count-wrapper">
        <div class="text-count-wrapper" [ngStyle]="{'left': textCountPercent(questionContent) + '%', 'margin-left': textCount(questionContent) > 9 ? '-2%' : '-3px', 'color': countColor(textCount(questionContent))}">{{textCount(questionContent)}}</div>
        <div class="progress-outer">
          <div class="progress-inner" [ngStyle]="{'background-color': countColor(textCount(questionContent))}" [style.width]="textCountPercent(questionContent) + '%'">
              <!-- {{progress}}% -->
          </div>
        </div>
      </div>
    </div> 
    <textarea #input class="m-t-0 h-30" [(ngModel)]="questionContent" [placeholder]="contentPlaceholder"></textarea>
  </div>
</ion-content>